/*
  filename: options_firefox.css

  Colour modifications for Firefox/Gecko browsers based on the Firefox and Mozilla style guides.
  Firefox: https://www.mozilla.org/en-US/styleguide/identity/firefox/color/
  Mozilla: https://www.mozilla.org/en-US/styleguide/identity/mozilla/color/
  Photon: http://design.firefox.com/photon/visual/typography.html
*/

:root {
    --firefox-link: rgb(100, 149, 237);
}

#run-web-urls-permitted {
    width: 96%;
}

#options-container {
    font-family: Segoe UI, -apple-system, ubuntu;
    font-size: 15px;
}

#sample-dos-text {
    /* anything placed in here will override any classes introduced by JavaScript */
    border: 0.063em solid rgb(215, 211, 200);
    height: 40px;
    width: auto;
}

#status {
    font-size: 13px;
    height: 2em;
}

.material-credits {
    vertical-align: bottom;
}

.material-radio {
    font-size: 1.5em;
}

.var-option {
    margin-left: 0;
}

a:link {
    color: var(--firefox-link);
    text-decoration: none;
}

a:visited {
    color: var(--firefox-link);
    text-decoration: none;
}

a:hover {
    color: var(--firefox-link);
    text-decoration: underline;
}

a:active {
    color: rgb(255, 165, 0);
    text-decoration: none;
}

body {
    color: rgb(77, 78, 83);
}

input[type=checkbox] {
    vertical-align: middle;
    size: 15px;
}

h1,
h2,
h3 {
    font-weight: normal;
}

select {
    font-size: 15px;
}

strong {
    font-weight: 500;
}

nav.tab {
    background: none;
    overflow: hidden;
    height: 2.5em;
    margin-top: 2em;
}

nav.tab button {
    float: left;
    font-family: Segoe UI, -apple-system, ubuntu;
    font-size: 1em;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 2px;
    padding: 0.1em 1em 0.2em 1em;
    outline: none;
    transition: 0s;
    margin: 0.25em;
}

nav.tab button:hover {
    background-color: rgb(235, 235, 235);
    text-decoration: none;
}