:root {
  --font-family: Roboto, "Segoe UI", Tahoma, sans-serif;

  --chrome-omnibar: #ededee;
  --chrome-hover: #d3d5d9;
  --chrome-focus: #c6c8cc;
  --error-text: rgb(255, 0, 0);
  --icon: #575a5f;
  --google-grey-900: #202124;
  --google-grey-refresh-700: #5f6368;

  --buttons-height: 28px;
  --sample-container: 34px;
  --sample-box-height: calc(var(--sample-container) - 4px);
  --status-size: 0.85em;
  --separator-height: 1px;
  --separator-line: var(--separator-height) solid rgba(0, 0, 0, 0.06);
  --section_-_padding: 0 20px;

  --icon-transition: background-color 500ms linear;
  --fade: 0.85s;
}

body {
  font-family: var(--font-family);
  font-size: 1em;
  display: flex;
  flex-direction: column;
  height: 550px;
}
article#options-container {
  flex: 1 1 auto;
}
header > #error {
  color: var(--error-text);
  display: none;
}
header > #status {
  display: flex;
  color: var(--google-grey-refresh-700);
  font-family: var(--font-system);
  font-size: var(--status-size);
  min-height: var(--status-size);
  margin: 0;
  padding: 0;
  text-indent: 1.1em;
}
header > #sample-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chrome-omnibar);
  border-radius: var(--sample-container);
  height: var(--sample-container);
}
header > #sample-container > #sample-dos-text {
  /* anything placed here will override classes introduced by options.js */
  display: flex;
  align-items: center;
  height: var(--sample-box-height);
  border-radius: var(--sample-box-height);
  padding-left: calc(var(--sample-box-height) / 2);
  padding-right: calc(var(--sample-box-height) / 2);
  margin: 0;
  order: 1;
  text-rendering: geometricPrecision;
  /* contain overflow sample text */
  overflow: hidden;
  width: calc(340px - var(--sample-box-height));
}
header > #sample-container > #sample-dos-text > #sample-dos-ctrls {
  display: none;
}
header > nav.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chrome-omnibar);
  border-radius: var(--buttons-height);
  font-size: 81.25%;
  height: var(--buttons-height);
  overflow: hidden;
  padding: 2px;
  margin-bottom: 0.5em;
}
header > nav.tab > button {
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  background-color: var(--chrome-omnibar);
  border: 0;
  border-radius: var(--buttons-height);
  box-sizing: border-box;
  cursor: default;
  padding: 1px 6px;
  transition: 0.3s;
  text-rendering: auto;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  user-select: none;
  min-width: 6em;
  min-height: 2em;
}
header > nav.tab > button:hover,
header > nav.tab > button:visited,
header > nav.tab > button:link {
  background-color: var(--chrome-hover);
  border: 0;
  border-color: inherit;
  transition: var(--fade);
}
header > nav.tab > button:active {
  border: 0;
  border-color: inherit;
  transition: var(--fade);
}
header > nav.tab > button:focus {
  /* removes Chrome's light-blue border */
  background-color: var(--chrome-focus);
  outline-width: 0;
  transition: var(--fade);
}

main {
  display: flex;
  justify-content: left;
  margin-top: 1em;
  min-height: 32em;
  font-size: 81.25%;
}
main > section {
  flex-basis: 100%;
}
main > section .config,
main > section .display,
main > section .font,
main > section .section {
  border-top: var(--separator-line);
}
main > section .font.block.top,
main > section .display.block.top {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
main > section .config.block,
main > section .display.block,
main > section .font.block,
main > section .section.block {
  display: flex;
  justify-content: left;
  padding-bottom: 8px;
  padding-top: 8px;
}
main > section .font.block {
  flex-direction: column;
}
main > section .config-title {
  flex-basis: 24em;
}
main > section .config-title.asterisk {
  color: var(--error-text);
}
main > section .config-title code a,
main > section .config-content code {
  font-size: 1.1em;
  text-decoration: none;
}
main > section .display-title {
  flex-basis: 12em;
}
main > section .section-title {
  flex-basis: 7em;
}
main > section .config-content,
main > section .display-content,
main > section .font-content,
main > section .section-content {
  color: var(--google-grey-refresh-700);
}
main > section .config-content,
main > section .display-content,
main > section .font-content {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
}
main > section .display-content.columns {
  flex-flow: column;
}
main > section .config-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  color: var(--google-grey-900);
}
main > section #run-web-urls-permitted {
  width: 25em;
}
main > section .config-content .material-icons,
main > section .display-content .material-icons,
main > section .font-content > label {
  margin-right: 0.9em;
}
main > section .config-content .block {
  width: 25em;
}
main > section .font-content .block {
  width: 14em;
}
main > section .font-content strong {
  color: var(--google-grey-900);
  font-weight: normal;
}
main > section .material-icons {
  font-size: 1.25em;
  vertical-align: text-top;
}
main > section .section-content ul {
  list-style: none;
  padding-left: 0;
}
main > section .section-content ul li {
  padding-bottom: 2px;
  padding-top: 2px;
}
main > section #please-apply {
  color: darkorange;
  display: none;
  text-align: right;
  margin-right: 2em;
}

footer > .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: var(--buttons-height);
}
footer > .box > #unittest {
  display: none;
}
footer > .box > a:hover,
footer > .box > a:visited,
footer > .box > a:link,
footer > .box > a:active {
  text-decoration: none;
}
footer .material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon);
  border-radius: var(--buttons-height);
  min-width: var(--buttons-height);
}
footer .material-icons:hover {
  background-color: var(--chrome-omnibar);
  transition: var(--icon-transition);
}
footer .material-icons:active {
  background-color: var(--chrome-hover);
  transition: var(--icon-transition);
}
