/*
  filename: options_firefox.css

  Colour modifications for Firefox/Gecko browsers based on the Firefox and Mozilla style guides.
  Firefox: https://www.mozilla.org/en-US/styleguide/identity/firefox/color/
  Mozilla: https://www.mozilla.org/en-US/styleguide/identity/mozilla/color/
  Photon: http://design.firefox.com/photon/visual/typography.html

  In manifest.json for Firefox, options_ui should be { browser_style: true }
  The stylesheet can be viewed at chrome://browser/content/extension.css
*/

:root {
  --button-border-color: rgb(215, 215, 219);
  --button-height: 28px;

  --asterisk: orangered;
  --error-text: rgb(255, 0, 0);

  --font-family: Roboto, "Segoe UI", Tahoma, sans-serif;

  --firefox-active: rgba(10, 132, 255, 1);
  --firefox-link: rgb(10, 141, 255);
  --firefox-link-hover: rgba(0, 96, 223, 1);
  --firefox-grey: rgba(128, 128, 128, 1);
  --firefox-text: rgb(51, 51, 51);
  --firefox-separator: rgb(215, 215, 219);
  --firefox-shadow: rgba(254, 255, 254, 1);

  --sample-border: rgba(177, 177, 177, 1);
  --sample-container: 50px;
  --sample-radius: 2px;
  --sample-box-height: calc(var(--sample-container) - 4px);
  --shadow: 0 1px 1px var(--firefox-shadow);
  --status-size: 1.2em;

  --block-padding: 8px;
}

body {
  color: var(--firefox-text);
  font-family: var(--font-family);
  font-size: 1em;
  font-weight: normal;
  text-shadow: var(--shadow);
}
a {
  color: var(--firefox-link);
  text-decoration: none;
}
a:hover {
  color: var(--firefox-link-hover);
  text-decoration: underline;
}
article#options-container {
  flex: 1 1 auto;
}

header > #error {
  color: var(--error-text);
  font-size: 1.5em;
  margin-left: 6px;
  display: none;
}
header > #error > #keyboardKeys {
  color: #333;
}
header > #error > #keyboardKeys > kbd {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
header > #status {
  display: flex;
  font-family: var(--font-system);
  font-size: var(--status-size);
  min-height: var(--status-size);
  margin: 0;
  padding: 6px;
}
/* Sample text */
header > #sample-container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: var(--sample-container);
  padding-left: 6px;
}
header > #sample-container > #sample-dos-text {
  /* anything placed here will override classes introduced by options.js */
  display: flex;
  align-items: center;
  height: var(--sample-box-height);
  border-radius: var(--sample-radius);
  border: 1px solid transparent;
  box-shadow: 0 0 0 0 transparent;
  padding-left: calc(var(--sample-box-height) / 2);
  padding-right: calc(var(--sample-box-height) / 2);
  margin: 0;
  order: 1;
  text-rendering: geometricPrecision;
  font-size: 2em;
  /* contain overflow sample text */
  overflow: hidden;
  width: calc(640px - var(--sample-box-height));
}
header > #sample-container > #sample-dos-text[class*="white-bg"],
header > #sample-container > #sample-dos-text.theme-windows-bg,
header > #sample-container > #sample-dos-text.theme-atarist-bg {
  border-color: var(--sample-border);
}
header > #sample-container > #sample-dos-text > #sample-dos-ctrls {
  display: none;
}
/* Tab buttons */
header > nav.tab {
  display: flex;
  align-items: center;
  justify-content: start;
}
header > nav.tab > button {
  display: inline-block;
  align-items: flex-start;
  text-align: center;
}
/* overriding firefox's buttons doesn't work as expected */
.tablinks {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--in-content-text-color);
  font-size: 15px;
  font-variant: normal;
  letter-spacing: 1.1px;
  line-height: 20px;
  margin: 4px;
  min-width: 94.5px;
  min-height: 30px;
  text-shadow: none;
}
button.tablinks:focus,
.tablinks:hover {
  border-color: var(--button-border-color);
  color: var(--firefox-active);
}
button.tablinks:active {
  border-color: var(--button-border-color);
  color: var(--firefox-active);
}
/* Main */
main {
  display: flex;
  justify-content: left;
  font-size: 1.25em;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-top: 6px;
  border-bottom: 1px solid var(--firefox-separator);
}
main > section {
  flex-basis: 100%;
}
main > section div.separator-block {
  border-bottom: 1px solid var(--firefox-separator);
}
main > section .config.block,
main > section .display.block,
main > section .font.block,
main > section .about.block {
  display: flex;
  justify-content: left;
  padding-bottom: var(--block-padding);
  padding-top: var(--block-padding);
}
main > section .config-content,
main > section .font-content {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
}
main > section .config-content .material-icons,
main > section .display-content .material-icons,
main > section .font-content > label {
  margin-right: 0.2em;
}
/* Font tab selection */
main > section .font.block {
  flex-direction: column;
}
main > section .font.block.top {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
main > section .font-content strong {
  color: var(--google-grey-900);
  font-weight: normal;
}
main > section .font-content > .block {
  width: 14em;
}
main > section .font-content > .block .material-icons {
  font-size: 1em;
  margin-left: 0;
  padding-left: 0;
  align-self: baseline;
}
main > section .font-content > .block > label[title="Narrow"] > input,
main > section .font-content > .block > label[title="Wide"] > input {
  padding-right: 0;
  margin-right: 0;
}
main
  > section
  .font-content
  > .block
  > label[title="Is a recommended font for viewing text art"]
  > .material-icons {
  font-size: 0.8em;
  color: var(--firefox-grey);
}
/* Display tab selection */
main > section .display-title {
  flex-basis: 12em;
}
main > section .display-content.columns {
  flex-flow: column;
}
main > section .display-content .material-icons {
  margin-right: 0.9em;
}
main > section .display.block .material-icons {
  font-size: 1.2em;
}
main > section .display-content {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  padding: 0;
}
main > section .display-content input#custom-background,
main > section .display-content input#custom-foreground {
  height: 1.5em;
  font-size: 1.1em;
}
main > section .display-content select {
  height: 1.5em;
  font-size: 1.1em;
  font-weight: normal;
}
main > section .display-content .browser-style {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
}
main > section .display-content .browser-style input[type="checkbox"] {
  padding: 0;
  margin: 0;
  margin-right: 0.2em;
}
main
  > section
  .display-content
  .browser-style
  input[type="checkbox"]
  ~ .asterisk {
  color: var(--asterisk);
}
main > section .display-content .browser-style input[type="radio"] {
  padding-left: 0;
  margin-left: 0;
}
main > section .display-content > #effects-form > label {
  padding-right: 2em;
}
/* Config tab selection */
main > section .config-content .block {
  width: 25em;
}
main > section .config-row.separator-block textarea {
  font-family: ibmplexmono;
  margin-bottom: 6px;
  max-width: 40em;
  width: 100%;
}
main > section .config-check {
  flex-basis: 3em;
}
main > section .config-title {
  flex-basis: 24em;
}
main > section .config-title code a,
main > section .config-content code {
  text-decoration: none;
}
main > section .config-title {
  flex-basis: 24em;
}
main > section .config-title code a,
main > section .config-content code {
  font-size: 1em;
  font-family: ibmplexmono;
  text-decoration: none;
}
main > section .config-content > .block {
  width: 100%;
  margin-top: 6px;
}
main > section .config-row.block {
  display: flex;
}
main > section .config-row-basis {
  flex-basis: 3.6em;
}
main > section .config-row.separator-block {
  padding-bottom: 6px;
}
/* About tab selection */
main > section .about-title {
  flex-basis: 7em;
}
main > section .about-content {
  flex-basis: 20em;
}
main > section .about-link {
  flex-basis: 15em;
}
/* Icon links */
footer > .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--button-height);
  margin-left: 6px;
  margin-top: 12px;
  width: 30em;
}
