/*
  filename: retrotxt.css

Load fonts and initialise basic page layout

See…
text_colors*.css for themes and text colouring.
text_ecma_48.css for ECMA-48/ANSI-X3.64/ANSI.SYS 'SGR' codes in CSS.
options*.css for the styling of the Options dialogue.
*/


/* fonts */


/*
these root variables are accessible by all CSS files except retrotxt_loader.css
sources of font selection:
https://css-tricks.com/snippets/css/system-font-stack/
https://webcache.googleusercontent.com/search?q=cache:9KxXPAA8eOwJ:https://www.client9.com/css-system-font-stack---monospace-v1/+&cd=4&hl=en&ct=clnk&gl=au&client=firefox-b-ab
*/

:root {
    /* macOS, Windows, Linux, OSX, Linux */
    --font-console: Menlo, Consolas, Fira Mono, Monaco, monospace;
    /* macOS, Chrome macOS, Windows Vista+, Google, KDE (Linux), Ubuntu, Gnome (Linux), Monotype */
    --font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}


/* csslint ignore:start */

@font-face {
    font-family: 'appleii';
    src: url('../fonts/woff2/PrintChar21.woff2') format('woff2');
}

@font-face {
    font-family: 'atarist';
    src: url('../fonts/woff2/AtariST8x16SystemFont.woff2') format('woff2');
}

@font-face {
    font-family: 'atascii';
    src: url('../fonts/woff2/AtariClassicChunky.woff2') format('woff2');
}

@font-face {
    font-family: 'bios';
    src: url('../fonts/woff2/PxPlus_IBM_BIOS.woff2') format('woff2');
}

@font-face {
    font-family: 'bios-2x';
    src: url('../fonts/woff2/PxPlus_IBM_BIOS-2x.woff2') format('woff2');
}

@font-face {
    font-family: 'bios-2y';
    src: url('../fonts/woff2/PxPlus_IBM_BIOS-2y.woff2') format('woff2');
}

@font-face {
    font-family: 'c64';
    src: url('../fonts/woff2/C64ProMono.woff2') format('woff2');
}

@font-face {
    font-family: 'cga';
    src: url('../fonts/woff2/PxPlus_IBM_CGA.woff2') format('woff2');
}

@font-face {
    font-family: 'cga-2y';
    src: url('../fonts/woff2/PxPlus_IBM_CGA-2y.woff2') format('woff2');
}

@font-face {
    font-family: 'cgathin';
    src: url('../fonts/woff2/PxPlus_IBM_CGAthin.woff2') format('woff2');
}

@font-face {
    font-family: 'cgathin-2y';
    src: url('../fonts/woff2/PxPlus_IBM_CGAthin-2y.woff2') format('woff2');
}

@font-face {
    font-family: 'pc1512';
    src: url('../fonts/woff2/PxPlus_AmstradPC1512.woff2') format('woff2');
}

@font-face {
    font-family: 'pc1512-2y';
    src: url('../fonts/woff2/PxPlus_AmstradPC1512-2y.woff2') format('woff2');
}

@font-face {
    font-family: 'ega8';
    src: url('../fonts/woff2/PxPlus_IBM_EGA8.woff2') format('woff2');
}

@font-face {
    font-family: 'ega8-2x';
    src: url('../fonts/woff2/PxPlus_IBM_EGA8-2x.woff2') format('woff2');
}

@font-face {
    font-family: 'ega9';
    src: url('../fonts/woff2/PxPlus_IBM_EGA9.woff2') format('woff2');
}

@font-face {
    font-family: 'ega9-2x';
    src: url('../fonts/woff2/PxPlus_IBM_EGA9-2x.woff2') format('woff2');
}

@font-face {
    font-family: 'iso9';
    src: url('../fonts/woff2/Px437_IBM_ISO9.woff2') format('woff2');
}

@font-face {
    font-family: 'iso8';
    src: url('../fonts/woff2/Px437_IBM_ISO8.woff2') format('woff2');
}

@font-face {
    font-family: 'mda';
    src: url('../fonts/woff2/PxPlus_IBM_MDA.woff2') format('woff2');
}

@font-face {
    font-family: 'mona';
    src: url('../fonts/woff2/mona.woff2') format('woff2');
}

@font-face {
    font-family: 'ps24';
    src: url('../fonts/woff2/Px437_IBM_PS2thin4.woff2') format('woff2');
}

@font-face {
    font-family: 'tandynewtv';
    src: url('../fonts/woff2/PxPlus_TandyNew_TV.woff2') format('woff2');
}

@font-face {
    font-family: 'tandynewtv-2y';
    src: url('../fonts/woff2/PxPlus_TandyNew_TV-2y.woff2') format('woff2');
}

@font-face {
    font-family: 'tandynew225';
    src: url('../fonts/woff2/PxPlus_TandyNew_225.woff2') format('woff2');
}

@font-face {
    font-family: 'tandynew225-2y';
    src: url('../fonts/woff2/PxPlus_TandyNew_225-2y.woff2') format('woff2');
}

@font-face {
    font-family: 'vga50';
    src: url('../fonts/woff2/Px437_CompaqThin_8x8.woff2') format('woff2');
}

@font-face {
    font-family: 'vga8';
    src: url('../fonts/woff2/PxPlus_IBM_VGA8.woff2') format('woff2');
}

@font-face {
    font-family: 'vga8-2x';
    src: url('../fonts/woff2/PxPlus_IBM_VGA8-2x.woff2') format('woff2');
}

@font-face {
    font-family: 'vga9';
    src: url('../fonts/woff2/PxPlus_IBM_VGA9.woff2') format('woff2');
}

@font-face {
    font-family: 'vga9-2x';
    src: url('../fonts/woff2/PxPlus_IBM_VGA9-2x.woff2') format('woff2');
}

@font-face {
    font-family: 'vgalcd';
    src: url('../fonts/woff2/PxPlus_VGA_SquarePx.woff2') format('woff2');
}


/* Amiga fonts */

@font-face {
    font-family: 'topazA500';
    src: url('../fonts/woff2/Topaz_a500.woff2') format('woff2');
}

@font-face {
    font-family: 'topazplusA500';
    src: url('../fonts/woff2/TopazPlus_a500.woff2') format('woff2');
}

@font-face {
    font-family: 'topazA1200';
    src: url('../fonts/woff2/Topaz_a1200.woff2') format('woff2');
}

@font-face {
    font-family: 'topazplusA1200';
    src: url('../fonts/woff2/TopazPlus_a1200.woff2') format('woff2');
}

@font-face {
    font-family: 'p0tnoodle';
    src: url('../fonts/woff2/P0T-NOoDLE.woff2') format('woff2');
}

@font-face {
    font-family: 'microknight';
    src: url('../fonts/woff2/MicroKnight.woff2') format('woff2');
}

@font-face {
    font-family: 'microknightplus';
    src: url('../fonts/woff2/MicroKnightPlus.woff2') format('woff2');
}

@font-face {
    font-family: 'mosoul';
    src: url('../fonts/woff2/mOsOul.woff2') format('woff2');
}


/* csslint ignore:end */


/* Classes to apply fonts */

.font-mona {
    font-family: mona;
}

.font-monospace {
    font-family: monospace;
}

.font-amiga {
    font-family: amiga;
}

.font-topazA500 {
    font-family: topazA500;
}

.font-topazplusA500 {
    font-family: topazplusA500;
}

.font-topazA1200 {
    font-family: topazA1200;
}

.font-topazplusA1200 {
    font-family: topazplusA1200;
}

.font-p0tnoodle {
    font-family: p0tnoodle;
}

.font-microknight {
    font-family: microknight;
}

.font-microknightplus {
    font-family: microknightplus;
}

.font-mosoul {
    font-family: mosoul;
}

.font-appleii {
    font-family: appleii;
}

.font-atascii {
    font-family: atascii;
}

.font-atarist {
    font-family: atarist;
}

.font-bios {
    font-family: bios;
}

.font-bios-2x {
    font-family: bios-2x;
}

.font-bios-2y {
    font-family: bios-2y;
}

.font-c64 {
    font-family: c64;
    font-size: 24pt/32px;
}

.font-cga {
    font-family: cga;
}

.font-cga-2y {
    font-family: cga-2y;
}

.font-cgathin {
    font-family: cgathin;
}

.font-cgathin-2y {
    font-family: cgathin-2y;
}

.font-ega8 {
    font-family: ega8;
}

.font-ega8-2x {
    font-family: ega8-2x;
}

.font-ega9 {
    font-family: ega9;
}

.font-ega9-2x {
    font-family: ega9-2x;
}

.font-iso9 {
    font-family: iso9;
}

.font-iso8 {
    font-family: iso8;
}

.font-mda {
    font-family: mda;
}

.font-pc1512 {
    font-family: pc1512;
}

.font-pc1512-2x {
    font-family: pc1512-2x;
}

.font-pc1512-2y {
    font-family: pc1512-2y;
}

.font-ps24 {
    font-family: ps24;
}

.font-tandynewtv {
    font-family: tandynewtv;
}

.font-tandynewtv-2y {
    font-family: tandynewtv-2y;
}

.font-tandynew225 {
    font-family: tandynew225;
}

.font-tandynew225-2y {
    font-family: tandynew225-2y;
}

.font-vga50 {
    font-family: vga50;
}

.font-vga8 {
    font-family: vga8;
}

.font-vga8-2x {
    font-family: vga8-2x;
}

.font-vga9 {
    font-family: vga9;
}

.font-vga9-2x {
    font-family: vga9-2x;
}

.font-vgalcd {
    font-family: vgalcd;
    font-size: 1.5em;
}

.text-1x {
    font-size: 100%;
}

.text-2x {
    font-size: 200%;
}

.text-smeared {
    text-shadow: 1px 0 0;
}


/*
 Primitive scanline effects only works on background, not over text.
 Learned from A Pen By Oliver Kühn https://codepen.io/0x04/pen/qlayi
 */

.scanlines-dark {
    background-image: repeating-linear-gradient( to top, transparent 0, transparent 1px, rgba(255, 255, 255, 0.075) 1px, rgba(255, 255, 255, 0.075) 2px);
    /* avoid artefacts in Firefox */
    background-size: 100% 4px;
}

.scanlines-light {
    background-image: repeating-linear-gradient( to top, transparent 0, transparent 1px, rgba(0, 0, 0, 0.075) 1px, rgba(0, 0, 0, 0.075) 2px);
    /* avoid artefacts in Firefox */
    background-size: 100% 4px;
}


/*
Blinking terminal prompt that works with any background/forground colour combination
*/

.dos-cursor {
    animation: 300ms blink step-end infinite;
    text-shadow: none;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}


/*
- Use flexbox for our layout to stack HTML items
- apply a work-around fix for Chrome browser's vertical line, font artefacts
*/

body {
    display: flex;
    flex-direction: column;
    text-shadow: none;
}


/*
'Text and font information' style
font color value is the invert of the background colour
- change 'order: 3;' to move text information header to the bottom of the screen
*/

header {
    /* ver 2.2: the filter styles has been moved to changeColors() */
    font-family: vgalcd;
    font-size: 1.5em;
    line-height: 1.6em;
    /* csslint ignore:start */
    mix-blend-mode: difference;
    /* csslint ignore:end */
    order: 1;
    position: sticky;
    text-align: left;
    text-indent: 1em;
    top: 1em;
    width: 100%;
}

header strong {
    cursor: default;
    user-select: none;
}

header .unknown {
    /* note: header filter: invert(100%); */
    color: rgb(0, 170, 170);
}

main {
    display: inline-block;
    letter-spacing: 0px;
    order: 2;
}

main i {
    font-style: normal;
    font-weight: normal;
}

pre {
    border: 0 dotted rgba(0, 128, 0, 1);
    padding: 0;
}

#checkErr {
    background-color: rgb(255, 0, 0);
    border: 0.1em solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: none;
    font-family: var(--font-console);
    padding: 1em;
}

#checkErr kbd {
    /* Source: https://github.com/auth0/kbd */
    background: rgb(238, 238, 238);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(119, 119, 119);
    color: rgb(85, 85, 85);
    cursor: pointer;
    display: inline-block;
    font-size: small;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 2px;
    padding: 0 4px;
    vertical-align: text-bottom;
}