/*
 filename: text_colors_cga-ice.css

 ECMA-48 presentation control function colour codes in CGA Palette 1, 2-bit

 SGR39 SGR40 SGR49 are in text_ecma_48.css
*/


/* iCE Colors (high intensity backgrounds) */

.SGR5 {
    animation-name: none;
}

.SGR40.SGR5,
.SGR44.SGR5 {
    /* grey */
    background-color: rgb(85, 85, 85);
}

.SGR45.SGR5,
.SGR41.SGR5 {
    /* light magenta */
    background-color: rgb(255, 85, 255);
}

.SGR46.SGR5,
.SGR42.SGR5 {
    /* light cyan */
    background-color: rgb(85, 255, 255);
}

.SGR47.SGR5,
.SGR43.SGR5 {
    /* white high intensity */
    background-color: rgb(255, 255, 255);
}