/*
  filename: text_colors_iigs.css

  ANSI / ECMA-48 presentation control function colour codes in 
  Apple IIgs colours. RGB values taken from Wikipedia 
  https://en.wikipedia.org/wiki/List_of_16-bit_computer_color_palettes

  Classes SGR39 SGR40 SGR49 are in `css/text_ecma_48.css`
*/

@import url("text_colors_blink.css");
@import url("text_colors_4bit.css");

:root {
  --black: rgb(0, 0, 0);
  --red: rgb(128, 3, 6);
  --green: rgb(0, 127, 18);
  --brown: rgb(128, 127, 22);
  --blue: rgb(0, 0, 128);
  --magenta: rgb(170, 0, 170);
  --cyan: rgb(1, 170, 170);
  --grey: rgb(127, 127, 127);
  --darkgrey: rgb(127, 127, 127);
  --lightred: rgb(255, 127, 33);
  --lightgreen: rgb(127, 255, 50);
  --yellow: rgb(255, 255, 128);
  --lightblue: rgb(128, 128, 252);
  --lightmagenta: rgb(255, 85, 255);
  --lightcyan: rgb(127, 255, 128);
  --white: rgb(255, 255, 255);
}
