/*
 filename: text_colors_8bit.css

  256 (8-bit) Colours for use with SGR 38 and SGR 48 values used by text_ecma48.js
  These colour values were taken from Micah Elliott's colortrans.py
  https://gist.github.com/MicahElliott/719710
*/

.SGR3800 {
    color: #000000;
}

.SGR3801 {
    color: #800000;
}

.SGR3802 {
    color: #008000;
}

.SGR3803 {
    color: #808000;
}

.SGR3804 {
    color: #000080;
}

.SGR3805 {
    color: #800080;
}

.SGR3806 {
    color: #008080;
}

.SGR3807 {
    color: #c0c0c0;
}

.SGR3808 {
    color: #808080;
}

.SGR3809 {
    color: #ff0000;
}

.SGR3810 {
    color: #00ff00;
}

.SGR3811 {
    color: #ffff00;
}

.SGR3812 {
    color: #0000ff;
}

.SGR3813 {
    color: #ff00ff;
}

.SGR3814 {
    color: #00ffff;
}

.SGR3815 {
    color: #ffffff;
}

.SGR3816 {
    color: #000000;
}

.SGR3817 {
    color: #00005f;
}

.SGR3818 {
    color: #000087;
}

.SGR3819 {
    color: #0000af;
}

.SGR3820 {
    color: #0000d7;
}

.SGR3821 {
    color: #0000ff;
}

.SGR3822 {
    color: #005f00;
}

.SGR3823 {
    color: #005f5f;
}

.SGR3824 {
    color: #005f87;
}

.SGR3825 {
    color: #005faf;
}

.SGR3826 {
    color: #005fd7;
}

.SGR3827 {
    color: #005fff;
}

.SGR3828 {
    color: #008700;
}

.SGR3829 {
    color: #00875f;
}

.SGR3830 {
    color: #008787;
}

.SGR3831 {
    color: #0087af;
}

.SGR3832 {
    color: #0087d7;
}

.SGR3833 {
    color: #0087ff;
}

.SGR3834 {
    color: #00af00;
}

.SGR3835 {
    color: #00af5f;
}

.SGR3836 {
    color: #00af87;
}

.SGR3837 {
    color: #00afaf;
}

.SGR3838 {
    color: #00afd7;
}

.SGR3839 {
    color: #00afff;
}

.SGR3840 {
    color: #00d700;
}

.SGR3841 {
    color: #00d75f;
}

.SGR3842 {
    color: #00d787;
}

.SGR3843 {
    color: #00d7af;
}

.SGR3844 {
    color: #00d7d7;
}

.SGR3845 {
    color: #00d7ff;
}

.SGR3846 {
    color: #00ff00;
}

.SGR3847 {
    color: #00ff5f;
}

.SGR3848 {
    color: #00ff87;
}

.SGR3849 {
    color: #00ffaf;
}

.SGR3850 {
    color: #00ffd7;
}

.SGR3851 {
    color: #00ffff;
}

.SGR3852 {
    color: #5f0000;
}

.SGR3853 {
    color: #5f005f;
}

.SGR3854 {
    color: #5f0087;
}

.SGR3855 {
    color: #5f00af;
}

.SGR3856 {
    color: #5f00d7;
}

.SGR3857 {
    color: #5f00ff;
}

.SGR3858 {
    color: #5f5f00;
}

.SGR3859 {
    color: #5f5f5f;
}

.SGR3860 {
    color: #5f5f87;
}

.SGR3861 {
    color: #5f5faf;
}

.SGR3862 {
    color: #5f5fd7;
}

.SGR3863 {
    color: #5f5fff;
}

.SGR3864 {
    color: #5f8700;
}

.SGR3865 {
    color: #5f875f;
}

.SGR3866 {
    color: #5f8787;
}

.SGR3867 {
    color: #5f87af;
}

.SGR3868 {
    color: #5f87d7;
}

.SGR3869 {
    color: #5f87ff;
}

.SGR3870 {
    color: #5faf00;
}

.SGR3871 {
    color: #5faf5f;
}

.SGR3872 {
    color: #5faf87;
}

.SGR3873 {
    color: #5fafaf;
}

.SGR3874 {
    color: #5fafd7;
}

.SGR3875 {
    color: #5fafff;
}

.SGR3876 {
    color: #5fd700;
}

.SGR3877 {
    color: #5fd75f;
}

.SGR3878 {
    color: #5fd787;
}

.SGR3879 {
    color: #5fd7af;
}

.SGR3880 {
    color: #5fd7d7;
}

.SGR3881 {
    color: #5fd7ff;
}

.SGR3882 {
    color: #5fff00;
}

.SGR3883 {
    color: #5fff5f;
}

.SGR3884 {
    color: #5fff87;
}

.SGR3885 {
    color: #5fffaf;
}

.SGR3886 {
    color: #5fffd7;
}

.SGR3887 {
    color: #5fffff;
}

.SGR3888 {
    color: #870000;
}

.SGR3889 {
    color: #87005f;
}

.SGR3890 {
    color: #870087;
}

.SGR3891 {
    color: #8700af;
}

.SGR3892 {
    color: #8700d7;
}

.SGR3893 {
    color: #8700ff;
}

.SGR3894 {
    color: #875f00;
}

.SGR3895 {
    color: #875f5f;
}

.SGR3896 {
    color: #875f87;
}

.SGR3897 {
    color: #875faf;
}

.SGR3898 {
    color: #875fd7;
}

.SGR3899 {
    color: #875fff;
}

.SGR38100 {
    color: #878700;
}

.SGR38101 {
    color: #87875f;
}

.SGR38102 {
    color: #878787;
}

.SGR38103 {
    color: #8787af;
}

.SGR38104 {
    color: #8787d7;
}

.SGR38105 {
    color: #8787ff;
}

.SGR38106 {
    color: #87af00;
}

.SGR38107 {
    color: #87af5f;
}

.SGR38108 {
    color: #87af87;
}

.SGR38109 {
    color: #87afaf;
}

.SGR38110 {
    color: #87afd7;
}

.SGR38111 {
    color: #87afff;
}

.SGR38112 {
    color: #87d700;
}

.SGR38113 {
    color: #87d75f;
}

.SGR38114 {
    color: #87d787;
}

.SGR38115 {
    color: #87d7af;
}

.SGR38116 {
    color: #87d7d7;
}

.SGR38117 {
    color: #87d7ff;
}

.SGR38118 {
    color: #87ff00;
}

.SGR38119 {
    color: #87ff5f;
}

.SGR38120 {
    color: #87ff87;
}

.SGR38121 {
    color: #87ffaf;
}

.SGR38122 {
    color: #87ffd7;
}

.SGR38123 {
    color: #87ffff;
}

.SGR38124 {
    color: #af0000;
}

.SGR38125 {
    color: #af005f;
}

.SGR38126 {
    color: #af0087;
}

.SGR38127 {
    color: #af00af;
}

.SGR38128 {
    color: #af00d7;
}

.SGR38129 {
    color: #af00ff;
}

.SGR38130 {
    color: #af5f00;
}

.SGR38131 {
    color: #af5f5f;
}

.SGR38132 {
    color: #af5f87;
}

.SGR38133 {
    color: #af5faf;
}

.SGR38134 {
    color: #af5fd7;
}

.SGR38135 {
    color: #af5fff;
}

.SGR38136 {
    color: #af8700;
}

.SGR38137 {
    color: #af875f;
}

.SGR38138 {
    color: #af8787;
}

.SGR38139 {
    color: #af87af;
}

.SGR38140 {
    color: #af87d7;
}

.SGR38141 {
    color: #af87ff;
}

.SGR38142 {
    color: #afaf00;
}

.SGR38143 {
    color: #afaf5f;
}

.SGR38144 {
    color: #afaf87;
}

.SGR38145 {
    color: #afafaf;
}

.SGR38146 {
    color: #afafd7;
}

.SGR38147 {
    color: #afafff;
}

.SGR38148 {
    color: #afd700;
}

.SGR38149 {
    color: #afd75f;
}

.SGR38150 {
    color: #afd787;
}

.SGR38151 {
    color: #afd7af;
}

.SGR38152 {
    color: #afd7d7;
}

.SGR38153 {
    color: #afd7ff;
}

.SGR38154 {
    color: #afff00;
}

.SGR38155 {
    color: #afff5f;
}

.SGR38156 {
    color: #afff87;
}

.SGR38157 {
    color: #afffaf;
}

.SGR38158 {
    color: #afffd7;
}

.SGR38159 {
    color: #afffff;
}

.SGR38160 {
    color: #d70000;
}

.SGR38161 {
    color: #d7005f;
}

.SGR38162 {
    color: #d70087;
}

.SGR38163 {
    color: #d700af;
}

.SGR38164 {
    color: #d700d7;
}

.SGR38165 {
    color: #d700ff;
}

.SGR38166 {
    color: #d75f00;
}

.SGR38167 {
    color: #d75f5f;
}

.SGR38168 {
    color: #d75f87;
}

.SGR38169 {
    color: #d75faf;
}

.SGR38170 {
    color: #d75fd7;
}

.SGR38171 {
    color: #d75fff;
}

.SGR38172 {
    color: #d78700;
}

.SGR38173 {
    color: #d7875f;
}

.SGR38174 {
    color: #d78787;
}

.SGR38175 {
    color: #d787af;
}

.SGR38176 {
    color: #d787d7;
}

.SGR38177 {
    color: #d787ff;
}

.SGR38178 {
    color: #d7af00;
}

.SGR38179 {
    color: #d7af5f;
}

.SGR38180 {
    color: #d7af87;
}

.SGR38181 {
    color: #d7afaf;
}

.SGR38182 {
    color: #d7afd7;
}

.SGR38183 {
    color: #d7afff;
}

.SGR38184 {
    color: #d7d700;
}

.SGR38185 {
    color: #d7d75f;
}

.SGR38186 {
    color: #d7d787;
}

.SGR38187 {
    color: #d7d7af;
}

.SGR38188 {
    color: #d7d7d7;
}

.SGR38189 {
    color: #d7d7ff;
}

.SGR38190 {
    color: #d7ff00;
}

.SGR38191 {
    color: #d7ff5f;
}

.SGR38192 {
    color: #d7ff87;
}

.SGR38193 {
    color: #d7ffaf;
}

.SGR38194 {
    color: #d7ffd7;
}

.SGR38195 {
    color: #d7ffff;
}

.SGR38196 {
    color: #ff0000;
}

.SGR38197 {
    color: #ff005f;
}

.SGR38198 {
    color: #ff0087;
}

.SGR38199 {
    color: #ff00af;
}

.SGR38200 {
    color: #ff00d7;
}

.SGR38201 {
    color: #ff00ff;
}

.SGR38202 {
    color: #ff5f00;
}

.SGR38203 {
    color: #ff5f5f;
}

.SGR38204 {
    color: #ff5f87;
}

.SGR38205 {
    color: #ff5faf;
}

.SGR38206 {
    color: #ff5fd7;
}

.SGR38207 {
    color: #ff5fff;
}

.SGR38208 {
    color: #ff8700;
}

.SGR38209 {
    color: #ff875f;
}

.SGR38210 {
    color: #ff8787;
}

.SGR38211 {
    color: #ff87af;
}

.SGR38212 {
    color: #ff87d7;
}

.SGR38213 {
    color: #ff87ff;
}

.SGR38214 {
    color: #ffaf00;
}

.SGR38215 {
    color: #ffaf5f;
}

.SGR38216 {
    color: #ffaf87;
}

.SGR38217 {
    color: #ffafaf;
}

.SGR38218 {
    color: #ffafd7;
}

.SGR38219 {
    color: #ffafff;
}

.SGR38220 {
    color: #ffd700;
}

.SGR38221 {
    color: #ffd75f;
}

.SGR38222 {
    color: #ffd787;
}

.SGR38223 {
    color: #ffd7af;
}

.SGR38224 {
    color: #ffd7d7;
}

.SGR38225 {
    color: #ffd7ff;
}

.SGR38226 {
    color: #ffff00;
}

.SGR38227 {
    color: #ffff5f;
}

.SGR38228 {
    color: #ffff87;
}

.SGR38229 {
    color: #ffffaf;
}

.SGR38230 {
    color: #ffffd7;
}

.SGR38231 {
    color: #ffffff;
}


/*# Gray-scale range.*/

.SGR38232 {
    color: #080808;
}

.SGR38233 {
    color: #121212;
}

.SGR38234 {
    color: #1c1c1c;
}

.SGR38235 {
    color: #262626;
}

.SGR38236 {
    color: #303030;
}

.SGR38237 {
    color: #3a3a3a;
}

.SGR38238 {
    color: #444444;
}

.SGR38239 {
    color: #4e4e4e;
}

.SGR38240 {
    color: #585858;
}

.SGR38241 {
    color: #626262;
}

.SGR38242 {
    color: #6c6c6c;
}

.SGR38243 {
    color: #767676;
}

.SGR38244 {
    color: #808080;
}

.SGR38245 {
    color: #8a8a8a;
}

.SGR38246 {
    color: #949494;
}

.SGR38247 {
    color: #9e9e9e;
}

.SGR38248 {
    color: #a8a8a8;
}

.SGR38249 {
    color: #b2b2b2;
}

.SGR38250 {
    color: #bcbcbc;
}

.SGR38251 {
    color: #c6c6c6;
}

.SGR38252 {
    color: #d0d0d0;
}

.SGR38253 {
    color: #dadada;
}

.SGR38254 {
    color: #e4e4e4;
}

.SGR38255 {
    color: #eeeeee;
}

.SGR4800 {
    background-color: #000000;
}

.SGR4801 {
    background-color: #800000;
}

.SGR4802 {
    background-color: #008000;
}

.SGR4803 {
    background-color: #808000;
}

.SGR4804 {
    background-color: #000080;
}

.SGR4805 {
    background-color: #800080;
}

.SGR4806 {
    background-color: #008080;
}

.SGR4807 {
    background-color: #c0c0c0;
}

.SGR4808 {
    background-color: #808080;
}

.SGR4809 {
    background-color: #ff0000;
}

.SGR4810 {
    background-color: #00ff00;
}

.SGR4811 {
    background-color: #ffff00;
}

.SGR4812 {
    background-color: #0000ff;
}

.SGR4813 {
    background-color: #ff00ff;
}

.SGR4814 {
    background-color: #00ffff;
}

.SGR4815 {
    background-color: #ffffff;
}

.SGR4816 {
    background-color: #000000;
}

.SGR4817 {
    background-color: #00005f;
}

.SGR4818 {
    background-color: #000087;
}

.SGR4819 {
    background-color: #0000af;
}

.SGR4820 {
    background-color: #0000d7;
}

.SGR4821 {
    background-color: #0000ff;
}

.SGR4822 {
    background-color: #005f00;
}

.SGR4823 {
    background-color: #005f5f;
}

.SGR4824 {
    background-color: #005f87;
}

.SGR4825 {
    background-color: #005faf;
}

.SGR4826 {
    background-color: #005fd7;
}

.SGR4827 {
    background-color: #005fff;
}

.SGR4828 {
    background-color: #008700;
}

.SGR4829 {
    background-color: #00875f;
}

.SGR4830 {
    background-color: #008787;
}

.SGR4831 {
    background-color: #0087af;
}

.SGR4832 {
    background-color: #0087d7;
}

.SGR4833 {
    background-color: #0087ff;
}

.SGR4834 {
    background-color: #00af00;
}

.SGR4835 {
    background-color: #00af5f;
}

.SGR4836 {
    background-color: #00af87;
}

.SGR4837 {
    background-color: #00afaf;
}

.SGR4838 {
    background-color: #00afd7;
}

.SGR4839 {
    background-color: #00afff;
}

.SGR4840 {
    background-color: #00d700;
}

.SGR4841 {
    background-color: #00d75f;
}

.SGR4842 {
    background-color: #00d787;
}

.SGR4843 {
    background-color: #00d7af;
}

.SGR4844 {
    background-color: #00d7d7;
}

.SGR4845 {
    background-color: #00d7ff;
}

.SGR4846 {
    background-color: #00ff00;
}

.SGR4847 {
    background-color: #00ff5f;
}

.SGR4848 {
    background-color: #00ff87;
}

.SGR4849 {
    background-color: #00ffaf;
}

.SGR4850 {
    background-color: #00ffd7;
}

.SGR4851 {
    background-color: #00ffff;
}

.SGR4852 {
    background-color: #5f0000;
}

.SGR4853 {
    background-color: #5f005f;
}

.SGR4854 {
    background-color: #5f0087;
}

.SGR4855 {
    background-color: #5f00af;
}

.SGR4856 {
    background-color: #5f00d7;
}

.SGR4857 {
    background-color: #5f00ff;
}

.SGR4858 {
    background-color: #5f5f00;
}

.SGR4859 {
    background-color: #5f5f5f;
}

.SGR4860 {
    background-color: #5f5f87;
}

.SGR4861 {
    background-color: #5f5faf;
}

.SGR4862 {
    background-color: #5f5fd7;
}

.SGR4863 {
    background-color: #5f5fff;
}

.SGR4864 {
    background-color: #5f8700;
}

.SGR4865 {
    background-color: #5f875f;
}

.SGR4866 {
    background-color: #5f8787;
}

.SGR4867 {
    background-color: #5f87af;
}

.SGR4868 {
    background-color: #5f87d7;
}

.SGR4869 {
    background-color: #5f87ff;
}

.SGR4870 {
    background-color: #5faf00;
}

.SGR4871 {
    background-color: #5faf5f;
}

.SGR4872 {
    background-color: #5faf87;
}

.SGR4873 {
    background-color: #5fafaf;
}

.SGR4874 {
    background-color: #5fafd7;
}

.SGR4875 {
    background-color: #5fafff;
}

.SGR4876 {
    background-color: #5fd700;
}

.SGR4877 {
    background-color: #5fd75f;
}

.SGR4878 {
    background-color: #5fd787;
}

.SGR4879 {
    background-color: #5fd7af;
}

.SGR4880 {
    background-color: #5fd7d7;
}

.SGR4881 {
    background-color: #5fd7ff;
}

.SGR4882 {
    background-color: #5fff00;
}

.SGR4883 {
    background-color: #5fff5f;
}

.SGR4884 {
    background-color: #5fff87;
}

.SGR4885 {
    background-color: #5fffaf;
}

.SGR4886 {
    background-color: #5fffd7;
}

.SGR4887 {
    background-color: #5fffff;
}

.SGR4888 {
    background-color: #870000;
}

.SGR4889 {
    background-color: #87005f;
}

.SGR4890 {
    background-color: #870087;
}

.SGR4891 {
    background-color: #8700af;
}

.SGR4892 {
    background-color: #8700d7;
}

.SGR4893 {
    background-color: #8700ff;
}

.SGR4894 {
    background-color: #875f00;
}

.SGR4895 {
    background-color: #875f5f;
}

.SGR4896 {
    background-color: #875f87;
}

.SGR4897 {
    background-color: #875faf;
}

.SGR4898 {
    background-color: #875fd7;
}

.SGR4899 {
    background-color: #875fff;
}

.SGR48100 {
    background-color: #878700;
}

.SGR48101 {
    background-color: #87875f;
}

.SGR48102 {
    background-color: #878787;
}

.SGR48103 {
    background-color: #8787af;
}

.SGR48104 {
    background-color: #8787d7;
}

.SGR48105 {
    background-color: #8787ff;
}

.SGR48106 {
    background-color: #87af00;
}

.SGR48107 {
    background-color: #87af5f;
}

.SGR48108 {
    background-color: #87af87;
}

.SGR48109 {
    background-color: #87afaf;
}

.SGR48110 {
    background-color: #87afd7;
}

.SGR48111 {
    background-color: #87afff;
}

.SGR48112 {
    background-color: #87d700;
}

.SGR48113 {
    background-color: #87d75f;
}

.SGR48114 {
    background-color: #87d787;
}

.SGR48115 {
    background-color: #87d7af;
}

.SGR48116 {
    background-color: #87d7d7;
}

.SGR48117 {
    background-color: #87d7ff;
}

.SGR48118 {
    background-color: #87ff00;
}

.SGR48119 {
    background-color: #87ff5f;
}

.SGR48120 {
    background-color: #87ff87;
}

.SGR48121 {
    background-color: #87ffaf;
}

.SGR48122 {
    background-color: #87ffd7;
}

.SGR48123 {
    background-color: #87ffff;
}

.SGR48124 {
    background-color: #af0000;
}

.SGR48125 {
    background-color: #af005f;
}

.SGR48126 {
    background-color: #af0087;
}

.SGR48127 {
    background-color: #af00af;
}

.SGR48128 {
    background-color: #af00d7;
}

.SGR48129 {
    background-color: #af00ff;
}

.SGR48130 {
    background-color: #af5f00;
}

.SGR48131 {
    background-color: #af5f5f;
}

.SGR48132 {
    background-color: #af5f87;
}

.SGR48133 {
    background-color: #af5faf;
}

.SGR48134 {
    background-color: #af5fd7;
}

.SGR48135 {
    background-color: #af5fff;
}

.SGR48136 {
    background-color: #af8700;
}

.SGR48137 {
    background-color: #af875f;
}

.SGR48138 {
    background-color: #af8787;
}

.SGR48139 {
    background-color: #af87af;
}

.SGR48140 {
    background-color: #af87d7;
}

.SGR48141 {
    background-color: #af87ff;
}

.SGR48142 {
    background-color: #afaf00;
}

.SGR48143 {
    background-color: #afaf5f;
}

.SGR48144 {
    background-color: #afaf87;
}

.SGR48145 {
    background-color: #afafaf;
}

.SGR48146 {
    background-color: #afafd7;
}

.SGR48147 {
    background-color: #afafff;
}

.SGR48148 {
    background-color: #afd700;
}

.SGR48149 {
    background-color: #afd75f;
}

.SGR48150 {
    background-color: #afd787;
}

.SGR48151 {
    background-color: #afd7af;
}

.SGR48152 {
    background-color: #afd7d7;
}

.SGR48153 {
    background-color: #afd7ff;
}

.SGR48154 {
    background-color: #afff00;
}

.SGR48155 {
    background-color: #afff5f;
}

.SGR48156 {
    background-color: #afff87;
}

.SGR48157 {
    background-color: #afffaf;
}

.SGR48158 {
    background-color: #afffd7;
}

.SGR48159 {
    background-color: #afffff;
}

.SGR48160 {
    background-color: #d70000;
}

.SGR48161 {
    background-color: #d7005f;
}

.SGR48162 {
    background-color: #d70087;
}

.SGR48163 {
    background-color: #d700af;
}

.SGR48164 {
    background-color: #d700d7;
}

.SGR48165 {
    background-color: #d700ff;
}

.SGR48166 {
    background-color: #d75f00;
}

.SGR48167 {
    background-color: #d75f5f;
}

.SGR48168 {
    background-color: #d75f87;
}

.SGR48169 {
    background-color: #d75faf;
}

.SGR48170 {
    background-color: #d75fd7;
}

.SGR48171 {
    background-color: #d75fff;
}

.SGR48172 {
    background-color: #d78700;
}

.SGR48173 {
    background-color: #d7875f;
}

.SGR48174 {
    background-color: #d78787;
}

.SGR48175 {
    background-color: #d787af;
}

.SGR48176 {
    background-color: #d787d7;
}

.SGR48177 {
    background-color: #d787ff;
}

.SGR48178 {
    background-color: #d7af00;
}

.SGR48179 {
    background-color: #d7af5f;
}

.SGR48180 {
    background-color: #d7af87;
}

.SGR48181 {
    background-color: #d7afaf;
}

.SGR48182 {
    background-color: #d7afd7;
}

.SGR48183 {
    background-color: #d7afff;
}

.SGR48184 {
    background-color: #d7d700;
}

.SGR48185 {
    background-color: #d7d75f;
}

.SGR48186 {
    background-color: #d7d787;
}

.SGR48187 {
    background-color: #d7d7af;
}

.SGR48188 {
    background-color: #d7d7d7;
}

.SGR48189 {
    background-color: #d7d7ff;
}

.SGR48190 {
    background-color: #d7ff00;
}

.SGR48191 {
    background-color: #d7ff5f;
}

.SGR48192 {
    background-color: #d7ff87;
}

.SGR48193 {
    background-color: #d7ffaf;
}

.SGR48194 {
    background-color: #d7ffd7;
}

.SGR48195 {
    background-color: #d7ffff;
}

.SGR48196 {
    background-color: #ff0000;
}

.SGR48197 {
    background-color: #ff005f;
}

.SGR48198 {
    background-color: #ff0087;
}

.SGR48199 {
    background-color: #ff00af;
}

.SGR48200 {
    background-color: #ff00d7;
}

.SGR48201 {
    background-color: #ff00ff;
}

.SGR48202 {
    background-color: #ff5f00;
}

.SGR48203 {
    background-color: #ff5f5f;
}

.SGR48204 {
    background-color: #ff5f87;
}

.SGR48205 {
    background-color: #ff5faf;
}

.SGR48206 {
    background-color: #ff5fd7;
}

.SGR48207 {
    background-color: #ff5fff;
}

.SGR48208 {
    background-color: #ff8700;
}

.SGR48209 {
    background-color: #ff875f;
}

.SGR48210 {
    background-color: #ff8787;
}

.SGR48211 {
    background-color: #ff87af;
}

.SGR48212 {
    background-color: #ff87d7;
}

.SGR48213 {
    background-color: #ff87ff;
}

.SGR48214 {
    background-color: #ffaf00;
}

.SGR48215 {
    background-color: #ffaf5f;
}

.SGR48216 {
    background-color: #ffaf87;
}

.SGR48217 {
    background-color: #ffafaf;
}

.SGR48218 {
    background-color: #ffafd7;
}

.SGR48219 {
    background-color: #ffafff;
}

.SGR48220 {
    background-color: #ffd700;
}

.SGR48221 {
    background-color: #ffd75f;
}

.SGR48222 {
    background-color: #ffd787;
}

.SGR48223 {
    background-color: #ffd7af;
}

.SGR48224 {
    background-color: #ffd7d7;
}

.SGR48225 {
    background-color: #ffd7ff;
}

.SGR48226 {
    background-color: #ffff00;
}

.SGR48227 {
    background-color: #ffff5f;
}

.SGR48228 {
    background-color: #ffff87;
}

.SGR48229 {
    background-color: #ffffaf;
}

.SGR48230 {
    background-color: #ffffd7;
}

.SGR48231 {
    background-color: #ffffff;
}


/*# Gray-scale range.*/

.SGR48232 {
    background-color: #080808;
}

.SGR48233 {
    background-color: #121212;
}

.SGR48234 {
    background-color: #1c1c1c;
}

.SGR48235 {
    background-color: #262626;
}

.SGR48236 {
    background-color: #303030;
}

.SGR48237 {
    background-color: #3a3a3a;
}

.SGR48238 {
    background-color: #444444;
}

.SGR48239 {
    background-color: #4e4e4e;
}

.SGR48240 {
    background-color: #585858;
}

.SGR48241 {
    background-color: #626262;
}

.SGR48242 {
    background-color: #6c6c6c;
}

.SGR48243 {
    background-color: #767676;
}

.SGR48244 {
    background-color: #808080;
}

.SGR48245 {
    background-color: #8a8a8a;
}

.SGR48246 {
    background-color: #949494;
}

.SGR48247 {
    background-color: #9e9e9e;
}

.SGR48248 {
    background-color: #a8a8a8;
}

.SGR48249 {
    background-color: #b2b2b2;
}

.SGR48250 {
    background-color: #bcbcbc;
}

.SGR48251 {
    background-color: #c6c6c6;
}

.SGR48252 {
    background-color: #d0d0d0;
}

.SGR48253 {
    background-color: #dadada;
}

.SGR48254 {
    background-color: #e4e4e4;
}

.SGR48255 {
    background-color: #eeeeee;
}