/*
 filename: text_colors_vga-ice.css

 ECMA-48 presentation control function colour codes in CGA, EGA and VGA BIOS modes
 RGB values taken from Wikipeda https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

 SGR39 SGR40 SGR49 are in text_ecma_48.css
*/


/* iCE Colors (high intensity backgrounds) */

.SGR5 {
    animation-name: none;
    -moz-animation-name: none;
    -webkit-animation-name: none;
}

.SGR40.SGR5 {
    /* grey */
    background-color: rgb(85, 85, 85);
}

.SGR41.SGR5 {
    /* light red */
    background-color: rgb(255, 85, 85);
}

.SGR42.SGR5 {
    /* light green */
    background-color: rgb(85, 255, 85);
}

.SGR43.SGR5 {
    /* yellow */
    background-color: rgb(255, 255, 85);
}

.SGR44.SGR5 {
    /* light blue */
    background-color: rgb(85, 85, 255);
}

.SGR45.SGR5 {
    /* light magenta */
    background-color: rgb(255, 85, 255);
}

.SGR46.SGR5 {
    /* light cyan */
    background-color: rgb(85, 255, 255);
}

.SGR47.SGR5 {
    /* white high intensity */
    background-color: rgb(255, 255, 255);
}