/*
 filename: text_colors_vga-ice.css

 ECMA-48 presentation control function colour codes in CGA, EGA and VGA BIOS modes
 RGB values taken from Wikipeda https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

 SGR39 SGR40 SGR49 are in text_ecma_48.css
*/

/* iCE Colors (high intensity backgrounds) */

div > i.SGR5 {
  animation-name: none;
}

div > i.SGR40.SGR5 {
  background-color: var(--darkgrey);
}

div > i.SGR41.SGR5 {
  background-color: var(--lightred);
}

div > i.SGR42.SGR5 {
  background-color: var(--lightgreen);
}

div > i.SGR43.SGR5 {
  background-color: var(--yellow);
}

div > i.SGR44.SGR5 {
  background-color: var(--lightblue);
}

div > i.SGR45.SGR5 {
  background-color: var(--lightmagenta);
}

div > i.SGR46.SGR5 {
  background-color: var(--lightcyan);
}

div > i.SGR47.SGR5 {
  background-color: var(--white);
}
