/*
 filename: text_colors_gray-ice.css

 ECMA-48 presentation control function colour codes in CGA, EGA and VGA BIOS modes
 RGB values taken from Wikipeda https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

 SGR39 SGR40 SGR49 are in text_ecma_48.css
*/


/* iCE Colors (high intensity backgrounds) */

.SGR5 {
    animation-name: none;
    -moz-animation-name: none;
    -webkit-animation-name: none;
}

.SGR40.SGR5 {
    background-color: rgb(0, 0, 0)
}

.SGR41.SGR5 {
    background-color: rgb(44, 44, 44);
}

.SGR42.SGR5 {
    background-color: rgb(147, 147, 147);
}

.SGR43.SGR5 {
    background-color: rgb(191, 191, 191);
}

.SGR44.SGR5 {
    background-color: rgb(26, 26, 26);
}

.SGR45.SGR5 {
    background-color: rgb(67, 67, 67);
}

.SGR46.SGR5 {
    background-color: rgb(170, 170, 170);
}

.SGR47.SGR5 {
    background-color: rgb(229, 229, 229);
}