/*
  Use rem values instead of pixels.
  1rem = 16px, 0.75rm = 12px ...
*/

/*
monospace fallback font override
src: https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/#the-monospaced-system-ui-css-font-stack
*/
@font-face {
  font-display: fallback;
  font-family: "fallback-monofont";
  src: local(ui-monospace), local(Menlo), local(Monaco), local("Cascadia Mono"),
    local("Segoe UI Mono"), local("Oxygen Mono"), local("Ubuntu Monospace"),
    local("Source Code Pro"), local("Fira Mono"), local("Droid Sans Mono"),
    local("Courier New"), local(monospace);
}

/* Amiga fonts */
@font-face {
  font-family: "topaza500";
  src: url("../fonts/Topaz_a500.woff2") format("woff2");
  font-display: auto;
}
.font-topaza500 {
  font-family: topaza500, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
@font-face {
  font-family: "topazplusa500";
  src: url("../fonts/TopazPlus_a500.woff2") format("woff2");
  font-display: auto;
}
.font-topazplusa500 {
  font-family: topazplusa500, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
@font-face {
  font-family: "topaza1200";
  src: url("../fonts/Topaz_a1200.woff2") format("woff2");
  font-display: auto;
}
.font-topaza1200 {
  font-family: topaza1200, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
@font-face {
  font-family: "topazplusa1200";
  src: url("../fonts/TopazPlus_a1200.woff2") format("woff2");
  font-display: auto;
}
.font-topazplusa1200 {
  font-family: topazplusa1200, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
@font-face {
  font-family: "p0tnoodle";
  src: url("../fonts/P0T-NOoDLE.woff2") format("woff2");
  font-display: auto;
}
.font-p0tnoodle {
  font-family: p0tnoodle, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
@font-face {
  font-family: "microknight";
  src: url("../fonts/MicroKnight.woff2") format("woff2");
  font-display: auto;
}
.font-microknight {
  font-family: microknight, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
@font-face {
  font-family: "microknightplus";
  src: url("../fonts/MicroKnightPlus.woff2") format("woff2");
  font-display: auto;
}
.font-microknightplus {
  font-family: microknightplus, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
@font-face {
  font-family: "mosoul";
  src: url("../fonts/mOsOul.woff2") format("woff2");
  font-display: auto;
}
.font-mosoul {
  font-family: mosoul, fallback-monofont;
  font-size: 1rem;
  line-height: 1.25rem;
}
/* Commodore */
@font-face {
  font-family: "c64-pro-mono";
  src: url("../fonts/C64_Pro_Mono-STYLE.woff2") format("woff2");
  font-display: auto;
}
.font-c64-pro-mono {
  font-family: c64-pro-mono, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "c64-pro";
  src: url("../fonts/C64_Pro-STYLE.woff2") format("woff2");
  font-display: auto;
}
.font-c64-pro {
  font-family: c64-pro, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "petme";
  src: url("../fonts/PetMe.woff2") format("woff2");
  font-display: auto;
}
.font-petme {
  font-family: petme, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "petme64";
  src: url("../fonts/PetMe64.woff2") format("woff2");
  font-display: auto;
}
.font-petme64 {
  font-family: petme64, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "petme128";
  src: url("../fonts/PetMe128.woff2") format("woff2");
  font-display: auto;
}
.font-petme128 {
  font-family: petme128, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "petme642y";
  src: url("../fonts/PetMe642Y.woff2") format("woff2");
  font-display: auto;
}
.font-petme642y {
  font-family: petme642y, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "petme1282y";
  src: url("../fonts/PetMe1282Y.woff2") format("woff2");
  font-display: auto;
}
.font-petme1282y {
  font-family: petme1282y, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Atari */
@font-face {
  font-family: "atarist";
  src: url("../fonts/AtariST8x16SystemFont.woff2") format("woff2");
  font-display: auto;
}
.font-atarist {
  font-family: atarist, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "atarist2min";
  src: url("../fonts/TwoMinutestoBoot.woff2") format("woff2");
  font-display: auto;
}
.font-atarist2min {
  font-family: atarist2min, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "atascii";
  src: url("../fonts/AtariClassicChunky.woff2") format("woff2");
  font-display: auto;
}
.font-atascii {
  font-family: atascii, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "candyantics";
  src: url("../fonts/CandyAntics.woff2") format("woff2");
  font-display: auto;
}
.font-candyantics {
  font-family: candyantics, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "colleenantics";
  src: url("../fonts/ColleenAntics.woff2") format("woff2");
  font-display: auto;
}
.font-colleenantics {
  font-family: colleenantics, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* apple ][ */
/* pr_number_3 currently fails, corrupt? */
@font-face {
  font-family: "pr_number_3";
  src: url("../fonts/PRNumber3.woff2") format("woff2");
  font-display: auto;
}
.font-pr_number_3 {
  font-family: pr_number_3, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "print_character_21";
  src: url("../fonts/PrintChar21.woff2") format("woff2");
  font-display: auto;
}
.font-print_character_21 {
  font-family: print_character_21, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Apple GEOS */
@font-face {
  font-family: "berkeliumiidhr";
  src: url("../fonts/berkeliumiidhr-webfont.woff2") format("woff2");
  font-display: auto;
}
.font-berkeliumiidhr {
  font-family: berkeliumiidhr, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "berkeliumiihgr";
  src: url("../fonts/berkeliumiihgr-webfont.woff2") format("woff2");
  font-display: auto;
}
.font-berkeliumiihgr {
  font-family: berkeliumiihgr, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Apple Lisa */
@font-face {
  font-family: "lisatwiggy";
  src: url("../fonts/TwiggyRaw.woff2") format("woff2");
  font-display: auto;
}
.font-lisatwiggy {
  font-family: lisatwiggy, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "lisastartup";
  src: url("../fonts/StartupFromRaw.woff2") format("woff2");
  font-display: auto;
}
.font-lisastartup {
  font-family: lisastartup, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "lisaacronym";
  src: url("../fonts/SomeAcronymRaw.woff2") format("woff2");
  font-display: auto;
}
.font-lisaacronym {
  font-family: lisaacronym, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "lisapaper";
  src: url("../fonts/LisaTerminalPaperRaw.woff2") format("woff2");
  font-display: auto;
}
.font-lisapaper {
  font-family: lisapaper, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "lisapapersmall";
  src: url("../fonts/LisaTerminalPaperSmallRaw.woff2") format("woff2");
  font-display: auto;
}
.font-lisapapersmall {
  font-family: lisapapersmall, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Apple IIGS */
@font-face {
  font-family: "shaston320";
  src: url("../fonts/shaston320-webfont.woff2") format("woff2");
  font-display: auto;
}
.font-shaston320 {
  font-family: shaston320, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "shaston640";
  src: url("../fonts/shaston640-webfont.woff2") format("woff2");
  font-display: auto;
}
.font-shaston640 {
  font-family: shaston640, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "shastonhi320";
  src: url("../fonts/shastonhi320-webfont.woff2") format("woff2");
  font-display: auto;
}
.font-shastonhi320 {
  font-family: shastonhi320, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "shastonhi640";
  src: url("../fonts/shastonhi640-webfont.woff2") format("woff2");
  font-display: auto;
}
.font-shastonhi640 {
  font-family: shastonhi640, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Apple Macintosh */
@font-face {
  font-family: "applemac";
  src: url("../fonts/SteveSez.woff2") format("woff2");
  font-display: auto;
}
.font-applemac {
  font-family: applemac, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Tandy 8-bit */
@font-face {
  font-family: "miaraw";
  src: url("../fonts/AnotherMansTreasureMIARaw.woff2") format("woff2");
  font-display: auto;
}
.font-miaraw {
  font-family: miaraw, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "miiiraw";
  src: url("../fonts/AnotherMansTreasureMIII32C.woff2") format("woff2");
  font-display: auto;
}
.font-miiiraw {
  font-family: miiiraw, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "m4araw";
  src: url("../fonts/AnotherMansTreasureM4ARaw.woff2") format("woff2");
  font-display: auto;
}
.font-m4araw {
  font-family: m4araw, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "m4braw";
  src: url("../fonts/AnotherMansTreasureM4BRaw.woff2") format("woff2");
  font-display: auto;
}
.font-m4braw {
  font-family: m4braw, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Gameboy */
@font-face {
  font-family: "gameboy";
  src: url("../fonts/ItalianPlumber.woff2") format("woff2");
  font-display: auto;
}
.font-gameboy {
  font-family: gameboy, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Mattel Antiquarius */
@font-face {
  font-family: "antiquarius";
  src: url("../fonts/Antiquarius.woff2") format("woff2");
  font-display: auto;
}
.font-antiquarius {
  font-family: antiquarius, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Sharp MZ */
@font-face {
  font-family: "sharpmz";
  src: url("../fonts/Mizuno.woff2") format("woff2");
  font-display: auto;
}
.font-sharpmz {
  font-family: sharpmz, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Tandy CoCo */
@font-face {
  font-family: "hotcoco";
  src: url("../fonts/HotCoCo.woff2") format("woff2");
  font-display: auto;
}
.font-hotcoco {
  font-family: hotcoco, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "hotcoco2y";
  src: url("../fonts/HotCoCo2Y.woff2") format("woff2");
  font-display: auto;
}
.font-hotcoco2y {
  font-family: hotcoco2y, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "hotcocowitht";
  src: url("../fonts/HotCoCoWithT.woff2") format("woff2");
  font-display: auto;
}
.font-hotcocowitht {
  font-family: hotcocowitht, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "hotcocowitht2y";
  src: url("../fonts/HotCoCoWithT2Y.woff2") format("woff2");
  font-display: auto;
}
.font-hotcocowitht2y {
  font-family: hotcocowitht2y, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* ZX Spectrum */
@font-face {
  font-family: "zxspectrum";
  src: url("../fonts/Speccy.woff2") format("woff2");
  font-display: auto;
}
.font-zxspectrum {
  font-family: zxspectrum, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Sinclair QL */
@font-face {
  font-family: "sinclairql";
  src: url("../fonts/sinclair-ql.woff2") format("woff2");
  font-display: auto;
}
.font-sinclairql {
  font-family: sinclairql, fallback-monofont;
  font-size: 1.25em;
  line-height: 1em;
}
/* IBM 3270 */
@font-face {
  font-family: "ibm3270";
  src: url("../fonts/3270-Regular.woff2") format("woff2");
  font-display: auto;
}
.font-ibm3270 {
  font-family: ibm3270, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "ibm3270Condensed";
  src: url("../fonts/3270Condensed-Regular.woff2") format("woff2");
  font-display: auto;
}
.font-ibm3270Condensed {
  font-family: ibm3270Condensed, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "ibm3270SemiCondensed";
  src: url("../fonts/3270SemiCondensed-Regular.woff2") format("woff2");
  font-display: auto;
}
.font-ibm3270SemiCondensed {
  font-family: ibm3270SemiCondensed, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}

/* Xerox Alto */
@font-face {
  font-family: "alto";
  src: url("../fonts/AltoSerif.woff2") format("woff2");
  font-display: auto;
}
.font-alto {
  font-family: alto, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "altolegacy";
  src: url("../fonts/AltoSerifLegacy.woff2") format("woff2");
  font-display: auto;
}
.font-altolegacy {
  font-family: altolegacy, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}

/* Acorn BBC Micro */
@font-face {
  font-family: "acornbbc";
  src: url("../fonts/beeb.woff2") format("woff2");
  font-display: auto;
}
.font-acornbbc {
  font-family: acornbbc, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}

/* Amstrad CPC */
@font-face {
  font-family: "amstradcpc";
  src: url("../fonts/amstrad-cpc-correct.woff2") format("woff2");
  font-display: auto;
}
.font-amstradcpc {
  font-family: amstradcpc, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
/* Amstrad PCW */
@font-face {
  font-family: "amstradpcw";
  src: url("../fonts/amstrad-pcw.woff2") format("woff2");
  font-display: auto;
}
.font-amstradpcw {
  font-family: amstradpcw, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}

/* MSX */
@font-face {
  font-family: "msxscreen0";
  src: url("../fonts/msx-screen0.woff2") format("woff2");
  font-display: auto;
}
.font-msxscreen0 {
  font-family: msxscreen0, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
@font-face {
  font-family: "msxscreen1";
  src: url("../fonts/msx-screen1.woff2") format("woff2");
  font-display: auto;
}
.font-msxscreen1 {
  font-family: msxscreen1, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}

/* Texas Instruments */
@font-face {
  font-family: "ti994a";
  src: url("../fonts/ti-99-4a.woff2") format("woff2");
  font-display: auto;
}
.font-ti994a {
  font-family: ti994a, fallback-monofont;
  font-size: 1em;
  line-height: 1em;
}
