@font-face {
  font-family: "ibm_bios-2y";
  src: url("../fonts/WebPlus_IBM_BIOS-2y.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_bios-2y {
  font-family: ibm_bios-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_cga-2y";
  src: url("../fonts/WebPlus_IBM_CGA-2y.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_cga-2y {
  font-family: ibm_cga-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_cgathin-2y";
  src: url("../fonts/WebPlus_IBM_CGAthin-2y.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_cgathin-2y {
  font-family: ibm_cgathin-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_mda";
  src: url("../fonts/WebPlus_IBM_MDA.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_mda {
  font-family: ibm_mda;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ibm_ega_8x14";
  src: url("../fonts/WebPlus_IBM_EGA_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_ega_8x14 {
  font-family: ibm_ega_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ibm_ega_8x8";
  src: url("../fonts/WebPlus_IBM_EGA_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_ega_8x8 {
  font-family: ibm_ega_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "ibm_ega_9x14";
  src: url("../fonts/WebPlus_IBM_EGA_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_ega_9x14 {
  font-family: ibm_ega_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ibm_ega_9x8";
  src: url("../fonts/WebPlus_IBM_EGA_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_ega_9x8 {
  font-family: ibm_ega_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "ibm_vga_9x16";
  src: url("../fonts/WebPlus_IBM_VGA_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_vga_9x16 {
  font-family: ibm_vga_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_vga_9x14";
  src: url("../fonts/WebPlus_IBM_VGA_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_vga_9x14 {
  font-family: ibm_vga_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ibm_vga_9x8";
  src: url("../fonts/WebPlus_IBM_VGA_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_vga_9x8 {
  font-family: ibm_vga_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "ibm_vga_8x16";
  src: url("../fonts/WebPlus_IBM_VGA_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_vga_8x16 {
  font-family: ibm_vga_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_vga_8x14";
  src: url("../fonts/WebPlus_IBM_VGA_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_vga_8x14 {
  font-family: ibm_vga_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ibm_3270pc";
  src: url("../fonts/Web437_IBM_3270pc.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_3270pc {
  font-family: ibm_3270pc;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ibm_pgc";
  src: url("../fonts/Web437_IBM_PGC.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_pgc {
  font-family: ibm_pgc;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_conv-2y";
  src: url("../fonts/Web437_IBM_Conv-2y.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_conv-2y {
  font-family: ibm_conv-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_model30r0";
  src: url("../fonts/Web437_IBM_Model30r0.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_model30r0 {
  font-family: ibm_model30r0;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_model3x_alt1";
  src: url("../fonts/Web437_IBM_Model3x_Alt1.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_model3x_alt1 {
  font-family: ibm_model3x_alt1;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_model3x_alt2";
  src: url("../fonts/Web437_IBM_Model3x_Alt2.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_model3x_alt2 {
  font-family: ibm_model3x_alt2;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_model3x_alt3";
  src: url("../fonts/Web437_IBM_Model3x_Alt3.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_model3x_alt3 {
  font-family: ibm_model3x_alt3;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_model3x_alt4";
  src: url("../fonts/Web437_IBM_Model3x_Alt4.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_model3x_alt4 {
  font-family: ibm_model3x_alt4;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_ps-55_re";
  src: url("../fonts/Web437_IBM_PS-55_re.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_ps-55_re {
  font-family: ibm_ps-55_re;
  font-size: 29px;
  line-height: 29px;
}
@font-face {
  font-family: "ibm_xga-ai_7x15";
  src: url("../fonts/Web437_IBM_XGA-AI_7x15.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_xga-ai_7x15 {
  font-family: ibm_xga-ai_7x15;
  font-size: 15px;
  line-height: 15px;
}
@font-face {
  font-family: "ibm_xga-ai_12x20";
  src: url("../fonts/WebPlus_IBM_XGA-AI_12x20.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_xga-ai_12x20 {
  font-family: ibm_xga-ai_12x20;
  font-size: 20px;
  line-height: 20px;
}
@font-face {
  font-family: "ibm_xga-ai_12x23";
  src: url("../fonts/Web437_IBM_XGA-AI_12x23.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_xga-ai_12x23 {
  font-family: ibm_xga-ai_12x23;
  font-size: 23px;
  line-height: 23px;
}
@font-face {
  font-family: "ibm_dos_iso8";
  src: url("../fonts/Web437_IBM_DOS_ISO8.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_dos_iso8 {
  font-family: ibm_dos_iso8;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ibm_dos_iso9";
  src: url("../fonts/Web437_IBM_DOS_ISO9.woff2") format("woff2");
  font-display: auto;
}
.font-ibm_dos_iso9 {
  font-family: ibm_dos_iso9;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "dos-v_re_jpn12";
  src: url("../fonts/Web437_DOS-V_re_JPN12.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_jpn12 {
  font-family: dos-v_re_jpn12;
  font-size: 12px;
  line-height: 12px;
}
@font-face {
  font-family: "dos-v_re_jpn16";
  src: url("../fonts/Web437_DOS-V_re_JPN16.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_jpn16 {
  font-family: dos-v_re_jpn16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "dos-v_re_jpn19";
  src: url("../fonts/Web437_DOS-V_re_JPN19.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_jpn19 {
  font-family: dos-v_re_jpn19;
  font-size: 19px;
  line-height: 19px;
}
@font-face {
  font-family: "dos-v_re_jpn24";
  src: url("../fonts/Web437_DOS-V_re_JPN24.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_jpn24 {
  font-family: dos-v_re_jpn24;
  font-size: 24px;
  line-height: 24px;
}
@font-face {
  font-family: "dos-v_re_jpn30";
  src: url("../fonts/Web437_DOS-V_re_JPN30.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_jpn30 {
  font-family: dos-v_re_jpn30;
  font-size: 30px;
  line-height: 30px;
}
@font-face {
  font-family: "dos-v_re_ank16";
  src: url("../fonts/Web437_DOS-V_re_ANK16.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_ank16 {
  font-family: dos-v_re_ank16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "dos-v_re_ank19";
  src: url("../fonts/Web437_DOS-V_re_ANK19.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_ank19 {
  font-family: dos-v_re_ank19;
  font-size: 19px;
  line-height: 19px;
}
@font-face {
  font-family: "dos-v_re_ank24";
  src: url("../fonts/Web437_DOS-V_re_ANK24.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_ank24 {
  font-family: dos-v_re_ank24;
  font-size: 24px;
  line-height: 24px;
}
@font-face {
  font-family: "dos-v_re_ank30";
  src: url("../fonts/Web437_DOS-V_re_ANK30.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_ank30 {
  font-family: dos-v_re_ank30;
  font-size: 30px;
  line-height: 30px;
}
@font-face {
  font-family: "dos-v_twn16";
  src: url("../fonts/Web437_DOS-V_TWN16.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_twn16 {
  font-family: dos-v_twn16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "dos-v_twn19";
  src: url("../fonts/Web437_DOS-V_TWN19.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_twn19 {
  font-family: dos-v_twn19;
  font-size: 19px;
  line-height: 19px;
}
@font-face {
  font-family: "dos-v_re_prc16";
  src: url("../fonts/Web437_DOS-V_re_PRC16.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_prc16 {
  font-family: dos-v_re_prc16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "dos-v_re_prc19";
  src: url("../fonts/Web437_DOS-V_re_PRC19.woff2") format("woff2");
  font-display: auto;
}
.font-dos-v_re_prc19 {
  font-family: dos-v_re_prc19;
  font-size: 19px;
  line-height: 19px;
}
@font-face {
  font-family: "acer710_cga-2y";
  src: url("../fonts/Web437_Acer710_CGA-2y.woff2") format("woff2");
  font-display: auto;
}
.font-acer710_cga-2y {
  font-family: acer710_cga-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "acer710_mono";
  src: url("../fonts/Web437_Acer710_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-acer710_mono {
  font-family: acer710_mono;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "amstrad_pc-2y";
  src: url("../fonts/WebPlus_Amstrad_PC-2y.woff2") format("woff2");
  font-display: auto;
}
.font-amstrad_pc-2y {
  font-family: amstrad_pc-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ast_premiumexec";
  src: url("../fonts/WebPlus_AST_PremiumExec.woff2") format("woff2");
  font-display: auto;
}
.font-ast_premiumexec {
  font-family: ast_premiumexec;
  font-size: 19px;
  line-height: 19px;
}
@font-face {
  font-family: "att_pc6300";
  src: url("../fonts/Web437_ATT_PC6300.woff2") format("woff2");
  font-display: auto;
}
.font-att_pc6300 {
  font-family: att_pc6300;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "compaq_port3";
  src: url("../fonts/Web437_Compaq_Port3.woff2") format("woff2");
  font-display: auto;
}
.font-compaq_port3 {
  font-family: compaq_port3;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "compaqthin_8x8";
  src: url("../fonts/Web437_CompaqThin_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-compaqthin_8x8 {
  font-family: compaqthin_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "compaqthin_8x14";
  src: url("../fonts/Web437_CompaqThin_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-compaqthin_8x14 {
  font-family: compaqthin_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "compaqthin_8x16";
  src: url("../fonts/Web437_CompaqThin_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-compaqthin_8x16 {
  font-family: compaqthin_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "cordata_ppc-21";
  src: url("../fonts/WebPlus_Cordata_PPC-21.woff2") format("woff2");
  font-display: auto;
}
.font-cordata_ppc-21 {
  font-family: cordata_ppc-21;
  font-size: 26px;
  line-height: 26px;
}
@font-face {
  font-family: "cordata_ppc-400";
  src: url("../fonts/WebPlus_Cordata_PPC-400.woff2") format("woff2");
  font-display: auto;
}
.font-cordata_ppc-400 {
  font-family: cordata_ppc-400;
  font-size: 32px;
  line-height: 32px;
}
@font-face {
  font-family: "dg_one_bold";
  src: url("../fonts/Web437_DG_One_bold.woff2") format("woff2");
  font-display: auto;
}
.font-dg_one_bold {
  font-family: dg_one_bold;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "dg_one-2y";
  src: url("../fonts/Web437_DG_One-2y.woff2") format("woff2");
  font-display: auto;
}
.font-dg_one-2y {
  font-family: dg_one-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "hp_100lx_6x8";
  src: url("../fonts/WebPlus_HP_100LX_6x8.woff2") format("woff2");
  font-display: auto;
}
.font-hp_100lx_6x8 {
  font-family: hp_100lx_6x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "hp_100lx_8x8";
  src: url("../fonts/WebPlus_HP_100LX_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-hp_100lx_8x8 {
  font-family: hp_100lx_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "hp_100lx_10x11";
  src: url("../fonts/WebPlus_HP_100LX_10x11.woff2") format("woff2");
  font-display: auto;
}
.font-hp_100lx_10x11 {
  font-family: hp_100lx_10x11;
  font-size: 11px;
  line-height: 11px;
}
@font-face {
  font-family: "hp_100lx_16x12";
  src: url("../fonts/WebPlus_HP_100LX_16x12.woff2") format("woff2");
  font-display: auto;
}
.font-hp_100lx_16x12 {
  font-family: hp_100lx_16x12;
  font-size: 12px;
  line-height: 12px;
}
@font-face {
  font-family: "itt_xtra-2y";
  src: url("../fonts/Web437_ITT_Xtra-2y.woff2") format("woff2");
  font-display: auto;
}
.font-itt_xtra-2y {
  font-family: itt_xtra-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "kaypro2k_g-2y";
  src: url("../fonts/Web437_Kaypro2K_G-2y.woff2") format("woff2");
  font-display: auto;
}
.font-kaypro2k_g-2y {
  font-family: kaypro2k_g-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "le_model_d_cga-2y";
  src: url("../fonts/Web437_LE_Model_D_CGA-2y.woff2") format("woff2");
  font-display: auto;
}
.font-le_model_d_cga-2y {
  font-family: le_model_d_cga-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "le_model_d_mono";
  src: url("../fonts/Web437_LE_Model_D_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-le_model_d_mono {
  font-family: le_model_d_mono;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "mbytepc230_cga-2y";
  src: url("../fonts/Web437_MBytePC230_CGA-2y.woff2") format("woff2");
  font-display: auto;
}
.font-mbytepc230_cga-2y {
  font-family: mbytepc230_cga-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "mbytepc230_ega";
  src: url("../fonts/Web437_MBytePC230_EGA.woff2") format("woff2");
  font-display: auto;
}
.font-mbytepc230_ega {
  font-family: mbytepc230_ega;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "mbytepc230_mono";
  src: url("../fonts/Web437_MBytePC230_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-mbytepc230_mono {
  font-family: mbytepc230_mono;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "mbytepc230_8x16";
  src: url("../fonts/Web437_MBytePC230_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-mbytepc230_8x16 {
  font-family: mbytepc230_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "nec_multispeed";
  src: url("../fonts/Web437_NEC_MultiSpeed.woff2") format("woff2");
  font-display: auto;
}
.font-nec_multispeed {
  font-family: nec_multispeed;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "nec_multispeed_bold";
  src: url("../fonts/Web437_NEC_MultiSpeed_bold.woff2") format("woff2");
  font-display: auto;
}
.font-nec_multispeed_bold {
  font-family: nec_multispeed_bold;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "nix8810_m15";
  src: url("../fonts/Web437_Nix8810_M15.woff2") format("woff2");
  font-display: auto;
}
.font-nix8810_m15 {
  font-family: nix8810_m15;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "nix8810_m16";
  src: url("../fonts/Web437_Nix8810_M16.woff2") format("woff2");
  font-display: auto;
}
.font-nix8810_m16 {
  font-family: nix8810_m16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "nix8810_m35-2y";
  src: url("../fonts/Web437_Nix8810_M35-2y.woff2") format("woff2");
  font-display: auto;
}
.font-nix8810_m35-2y {
  font-family: nix8810_m35-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "olivetti_m15-2y";
  src: url("../fonts/Web437_Olivetti_M15-2y.woff2") format("woff2");
  font-display: auto;
}
.font-olivetti_m15-2y {
  font-family: olivetti_m15-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "olivettithin_8x14";
  src: url("../fonts/Web437_OlivettiThin_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-olivettithin_8x14 {
  font-family: olivettithin_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "olivettithin_9x14";
  src: url("../fonts/Web437_OlivettiThin_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-olivettithin_9x14 {
  font-family: olivettithin_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "olivettithin_8x16";
  src: url("../fonts/Web437_OlivettiThin_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-olivettithin_8x16 {
  font-family: olivettithin_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "olivettithin_9x16";
  src: url("../fonts/Web437_OlivettiThin_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-olivettithin_9x16 {
  font-family: olivettithin_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "sanyombc55x-2y";
  src: url("../fonts/Web437_SanyoMBC55x-2y.woff2") format("woff2");
  font-display: auto;
}
.font-sanyombc55x-2y {
  font-family: sanyombc55x-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "sanyombc775-2y";
  src: url("../fonts/Web437_SanyoMBC775-2y.woff2") format("woff2");
  font-display: auto;
}
.font-sanyombc775-2y {
  font-family: sanyombc775-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "sanyombc16-2y";
  src: url("../fonts/Web437_SanyoMBC16-2y.woff2") format("woff2");
  font-display: auto;
}
.font-sanyombc16-2y {
  font-family: sanyombc16-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "europc_cga-2y";
  src: url("../fonts/Web437_EuroPC_CGA-2y.woff2") format("woff2");
  font-display: auto;
}
.font-europc_cga-2y {
  font-family: europc_cga-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "europc_mono";
  src: url("../fonts/Web437_EuroPC_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-europc_mono {
  font-family: europc_mono;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "seequacm-2y";
  src: url("../fonts/Web437_SeequaCm-2y.woff2") format("woff2");
  font-display: auto;
}
.font-seequacm-2y {
  font-family: seequacm-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "sharp_pc3k";
  src: url("../fonts/Web437_Sharp_PC3K.woff2") format("woff2");
  font-display: auto;
}
.font-sharp_pc3k {
  font-family: sharp_pc3k;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "sharp_pc3k_alt";
  src: url("../fonts/Web437_Sharp_PC3K_Alt.woff2") format("woff2");
  font-display: auto;
}
.font-sharp_pc3k_alt {
  font-family: sharp_pc3k_alt;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "sperrypc_cga-2y";
  src: url("../fonts/Web437_SperryPC_CGA-2y.woff2") format("woff2");
  font-display: auto;
}
.font-sperrypc_cga-2y {
  font-family: sperrypc_cga-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "sperrypc_8x16";
  src: url("../fonts/Web437_SperryPC_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-sperrypc_8x16 {
  font-family: sperrypc_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "tandy1k-i_200l-2y";
  src: url("../fonts/Web437_Tandy1K-I_200L-2y.woff2") format("woff2");
  font-display: auto;
}
.font-tandy1k-i_200l-2y {
  font-family: tandy1k-i_200l-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "tandy1k-i_225l";
  src: url("../fonts/Web437_Tandy1K-I_225L.woff2") format("woff2");
  font-display: auto;
}
.font-tandy1k-i_225l {
  font-family: tandy1k-i_225l;
  font-size: 9px;
  line-height: 9px;
}
@font-face {
  font-family: "tandy1k-ii_200l-2y";
  src: url("../fonts/WebPlus_Tandy1K-II_200L-2y.woff2") format("woff2");
  font-display: auto;
}
.font-tandy1k-ii_200l-2y {
  font-family: tandy1k-ii_200l-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "tandy1k-ii_225l";
  src: url("../fonts/WebPlus_Tandy1K-II_225L.woff2") format("woff2");
  font-display: auto;
}
.font-tandy1k-ii_225l {
  font-family: tandy1k-ii_225l;
  font-size: 9px;
  line-height: 9px;
}
@font-face {
  font-family: "tandy1k-ii_mono";
  src: url("../fonts/Web437_Tandy1K-II_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-tandy1k-ii_mono {
  font-family: tandy1k-ii_mono;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "telepc";
  src: url("../fonts/Web437_TelePC.woff2") format("woff2");
  font-display: auto;
}
.font-telepc {
  font-family: telepc;
  font-size: 9px;
  line-height: 9px;
}
@font-face {
  font-family: "toshibasat_8x8";
  src: url("../fonts/WebPlus_ToshibaSat_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-toshibasat_8x8 {
  font-family: toshibasat_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "toshibasat_9x8";
  src: url("../fonts/WebPlus_ToshibaSat_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-toshibasat_9x8 {
  font-family: toshibasat_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "toshibasat_8x14";
  src: url("../fonts/WebPlus_ToshibaSat_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-toshibasat_8x14 {
  font-family: toshibasat_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "toshibasat_9x14";
  src: url("../fonts/WebPlus_ToshibaSat_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-toshibasat_9x14 {
  font-family: toshibasat_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "toshibasat_8x16";
  src: url("../fonts/WebPlus_ToshibaSat_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-toshibasat_8x16 {
  font-family: toshibasat_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "toshibasat_9x16";
  src: url("../fonts/WebPlus_ToshibaSat_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-toshibasat_9x16 {
  font-family: toshibasat_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "toshibatxl1_8x8";
  src: url("../fonts/Web437_ToshibaTxL1_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-toshibatxl1_8x8 {
  font-family: toshibatxl1_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "toshibatxl1_8x16";
  src: url("../fonts/WebPlus_ToshibaTxL1_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-toshibatxl1_8x16 {
  font-family: toshibatxl1_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "toshibatxl2_8x8";
  src: url("../fonts/Web437_ToshibaTxL2_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-toshibatxl2_8x8 {
  font-family: toshibatxl2_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "toshibatxl2_8x16";
  src: url("../fonts/WebPlus_ToshibaTxL2_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-toshibatxl2_8x16 {
  font-family: toshibatxl2_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "copam_bios-2y";
  src: url("../fonts/Web437_Copam_BIOS-2y.woff2") format("woff2");
  font-display: auto;
}
.font-copam_bios-2y {
  font-family: copam_bios-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "dtk_bios-2y";
  src: url("../fonts/Web437_DTK_BIOS-2y.woff2") format("woff2");
  font-display: auto;
}
.font-dtk_bios-2y {
  font-family: dtk_bios-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "phoenix_bios-2y";
  src: url("../fonts/Web437_Phoenix_BIOS-2y.woff2") format("woff2");
  font-display: auto;
}
.font-phoenix_bios-2y {
  font-family: phoenix_bios-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "vtech_bios-2y";
  src: url("../fonts/Web437_VTech_BIOS-2y.woff2") format("woff2");
  font-display: auto;
}
.font-vtech_bios-2y {
  font-family: vtech_bios-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "acer_vga_8x8-2y";
  src: url("../fonts/Web437_Acer_VGA_8x8-2y.woff2") format("woff2");
  font-display: auto;
}
.font-acer_vga_8x8-2y {
  font-family: acer_vga_8x8-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "acer_vga_9x8";
  src: url("../fonts/Web437_Acer_VGA_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-acer_vga_9x8 {
  font-family: acer_vga_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "ami_ega_8x8-2y";
  src: url("../fonts/Web437_AMI_EGA_8x8-2y.woff2") format("woff2");
  font-display: auto;
}
.font-ami_ega_8x8-2y {
  font-family: ami_ega_8x8-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ami_ega_8x14";
  src: url("../fonts/Web437_AMI_EGA_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-ami_ega_8x14 {
  font-family: ami_ega_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ami_ega_9x14";
  src: url("../fonts/Web437_AMI_EGA_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-ami_ega_9x14 {
  font-family: ami_ega_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ati_8x8-2y";
  src: url("../fonts/Web437_ATI_8x8-2y.woff2") format("woff2");
  font-display: auto;
}
.font-ati_8x8-2y {
  font-family: ati_8x8-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ati_9x8";
  src: url("../fonts/Web437_ATI_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-ati_9x8 {
  font-family: ati_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "ati_8x14";
  src: url("../fonts/Web437_ATI_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-ati_8x14 {
  font-family: ati_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ati_9x14";
  src: url("../fonts/Web437_ATI_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-ati_9x14 {
  font-family: ati_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "ati_8x16";
  src: url("../fonts/Web437_ATI_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-ati_8x16 {
  font-family: ati_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ati_9x16";
  src: url("../fonts/Web437_ATI_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-ati_9x16 {
  font-family: ati_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ati_smallw_6x8";
  src: url("../fonts/Web437_ATI_SmallW_6x8.woff2") format("woff2");
  font-display: auto;
}
.font-ati_smallw_6x8 {
  font-family: ati_smallw_6x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "cl_eagleii_8x16";
  src: url("../fonts/Web437_CL_EagleII_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-cl_eagleii_8x16 {
  font-family: cl_eagleii_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "cl_eagleii_9x16";
  src: url("../fonts/Web437_CL_EagleII_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-cl_eagleii_9x16 {
  font-family: cl_eagleii_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "cl_eagleiii_8x16";
  src: url("../fonts/Web437_CL_EagleIII_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-cl_eagleiii_8x16 {
  font-family: cl_eagleiii_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "cl_eagleiii_9x16";
  src: url("../fonts/Web437_CL_EagleIII_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-cl_eagleiii_9x16 {
  font-family: cl_eagleiii_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "cl_stingray_8x16";
  src: url("../fonts/Web437_CL_Stingray_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-cl_stingray_8x16 {
  font-family: cl_stingray_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "cl_stingray_8x16_bold";
  src: url("../fonts/Web437_CL_Stingray_8x16_bold.woff2") format("woff2");
  font-display: auto;
}
.font-cl_stingray_8x16_bold {
  font-family: cl_stingray_8x16_bold;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "cl_stingray_8x19";
  src: url("../fonts/Web437_CL_Stingray_8x19.woff2") format("woff2");
  font-display: auto;
}
.font-cl_stingray_8x19 {
  font-family: cl_stingray_8x19;
  font-size: 19px;
  line-height: 19px;
}
@font-face {
  font-family: "cl_stingray_8x19_bold";
  src: url("../fonts/Web437_CL_Stingray_8x19_bold.woff2") format("woff2");
  font-display: auto;
}
.font-cl_stingray_8x19_bold {
  font-family: cl_stingray_8x19_bold;
  font-size: 19px;
  line-height: 19px;
}
@font-face {
  font-family: "eaglespcga_alt1-2y";
  src: url("../fonts/Web437_EagleSpCGA_Alt1-2y.woff2") format("woff2");
  font-display: auto;
}
.font-eaglespcga_alt1-2y {
  font-family: eaglespcga_alt1-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "eaglespcga_alt2-2y";
  src: url("../fonts/Web437_EagleSpCGA_Alt2-2y.woff2") format("woff2");
  font-display: auto;
}
.font-eaglespcga_alt2-2y {
  font-family: eaglespcga_alt2-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "eaglespcga_alt3-2y";
  src: url("../fonts/Web437_EagleSpCGA_Alt3-2y.woff2") format("woff2");
  font-display: auto;
}
.font-eaglespcga_alt3-2y {
  font-family: eaglespcga_alt3-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "epsonmga-2y";
  src: url("../fonts/Web437_EpsonMGA-2y.woff2") format("woff2");
  font-display: auto;
}
.font-epsonmga-2y {
  font-family: epsonmga-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "epsonmga_alt-2y";
  src: url("../fonts/Web437_EpsonMGA_Alt-2y.woff2") format("woff2");
  font-display: auto;
}
.font-epsonmga_alt-2y {
  font-family: epsonmga_alt-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "epsonmga_mono";
  src: url("../fonts/Web437_EpsonMGA_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-epsonmga_mono {
  font-family: epsonmga_mono;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "everexme_5x8";
  src: url("../fonts/Web437_EverexME_5x8.woff2") format("woff2");
  font-display: auto;
}
.font-everexme_5x8 {
  font-family: everexme_5x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "everexme_7x8";
  src: url("../fonts/Web437_EverexME_7x8.woff2") format("woff2");
  font-display: auto;
}
.font-everexme_7x8 {
  font-family: everexme_7x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "everexme_8x16";
  src: url("../fonts/Web437_EverexME_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-everexme_8x16 {
  font-family: everexme_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "igs_vga_8x16";
  src: url("../fonts/Web437_IGS_VGA_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-igs_vga_8x16 {
  font-family: igs_vga_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "igs_vga_9x16";
  src: url("../fonts/Web437_IGS_VGA_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-igs_vga_9x16 {
  font-family: igs_vga_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "paradise132_7x9";
  src: url("../fonts/Web437_Paradise132_7x9.woff2") format("woff2");
  font-display: auto;
}
.font-paradise132_7x9 {
  font-family: paradise132_7x9;
  font-size: 9px;
  line-height: 9px;
}
@font-face {
  font-family: "paradise132_7x16";
  src: url("../fonts/Web437_Paradise132_7x16.woff2") format("woff2");
  font-display: auto;
}
.font-paradise132_7x16 {
  font-family: paradise132_7x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "phoenixega_8x8-2y";
  src: url("../fonts/Web437_PhoenixEGA_8x8-2y.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixega_8x8-2y {
  font-family: phoenixega_8x8-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "phoenixega_8x14";
  src: url("../fonts/Web437_PhoenixEGA_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixega_8x14 {
  font-family: phoenixega_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "phoenixega_9x14";
  src: url("../fonts/Web437_PhoenixEGA_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixega_9x14 {
  font-family: phoenixega_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "phoenixega_8x16";
  src: url("../fonts/Web437_PhoenixEGA_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixega_8x16 {
  font-family: phoenixega_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "phoenixvga_8x8";
  src: url("../fonts/Web437_PhoenixVGA_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixvga_8x8 {
  font-family: phoenixvga_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "phoenixvga_9x8";
  src: url("../fonts/Web437_PhoenixVGA_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixvga_9x8 {
  font-family: phoenixvga_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "phoenixvga_8x14";
  src: url("../fonts/Web437_PhoenixVGA_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixvga_8x14 {
  font-family: phoenixvga_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "phoenixvga_9x14";
  src: url("../fonts/Web437_PhoenixVGA_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixvga_9x14 {
  font-family: phoenixvga_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "phoenixvga_8x16";
  src: url("../fonts/Web437_PhoenixVGA_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixvga_8x16 {
  font-family: phoenixvga_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "phoenixvga_9x16";
  src: url("../fonts/Web437_PhoenixVGA_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-phoenixvga_9x16 {
  font-family: phoenixvga_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "verite_8x8-2y";
  src: url("../fonts/Web437_Verite_8x8-2y.woff2") format("woff2");
  font-display: auto;
}
.font-verite_8x8-2y {
  font-family: verite_8x8-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "verite_9x8";
  src: url("../fonts/Web437_Verite_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-verite_9x8 {
  font-family: verite_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "verite_8x14";
  src: url("../fonts/Web437_Verite_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-verite_8x14 {
  font-family: verite_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "verite_9x14";
  src: url("../fonts/Web437_Verite_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-verite_9x14 {
  font-family: verite_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "verite_8x16";
  src: url("../fonts/Web437_Verite_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-verite_8x16 {
  font-family: verite_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "verite_9x16";
  src: url("../fonts/Web437_Verite_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-verite_9x16 {
  font-family: verite_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "sigma_rm_8x8";
  src: url("../fonts/Web437_Sigma_RM_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-sigma_rm_8x8 {
  font-family: sigma_rm_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "sigma_rm_9x8";
  src: url("../fonts/Web437_Sigma_RM_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-sigma_rm_9x8 {
  font-family: sigma_rm_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "sigma_rm_8x14";
  src: url("../fonts/Web437_Sigma_RM_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-sigma_rm_8x14 {
  font-family: sigma_rm_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "sigma_rm_9x14";
  src: url("../fonts/Web437_Sigma_RM_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-sigma_rm_9x14 {
  font-family: sigma_rm_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "sigma_rm_8x16";
  src: url("../fonts/Web437_Sigma_RM_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-sigma_rm_8x16 {
  font-family: sigma_rm_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "sigma_rm_9x16";
  src: url("../fonts/Web437_Sigma_RM_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-sigma_rm_9x16 {
  font-family: sigma_rm_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "stb_autoega_8x14";
  src: url("../fonts/Web437_STB_AutoEGA_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-stb_autoega_8x14 {
  font-family: stb_autoega_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "stb_autoega_9x14";
  src: url("../fonts/Web437_STB_AutoEGA_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-stb_autoega_9x14 {
  font-family: stb_autoega_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "tridentearly_8x8";
  src: url("../fonts/Web437_TridentEarly_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-tridentearly_8x8 {
  font-family: tridentearly_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "tridentearly_9x8";
  src: url("../fonts/Web437_TridentEarly_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-tridentearly_9x8 {
  font-family: tridentearly_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "tridentearly_8x14";
  src: url("../fonts/Web437_TridentEarly_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-tridentearly_8x14 {
  font-family: tridentearly_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "tridentearly_9x14";
  src: url("../fonts/Web437_TridentEarly_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-tridentearly_9x14 {
  font-family: tridentearly_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "tridentearly_8x16";
  src: url("../fonts/Web437_TridentEarly_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-tridentearly_8x16 {
  font-family: tridentearly_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "tridentearly_9x16";
  src: url("../fonts/Web437_TridentEarly_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-tridentearly_9x16 {
  font-family: tridentearly_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "tridentearly_8x11";
  src: url("../fonts/Web437_TridentEarly_8x11.woff2") format("woff2");
  font-display: auto;
}
.font-tridentearly_8x11 {
  font-family: tridentearly_8x11;
  font-size: 11px;
  line-height: 11px;
}
@font-face {
  font-family: "trident_8x8";
  src: url("../fonts/Web437_Trident_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-trident_8x8 {
  font-family: trident_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "trident_9x8";
  src: url("../fonts/Web437_Trident_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-trident_9x8 {
  font-family: trident_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "trident_8x14";
  src: url("../fonts/Web437_Trident_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-trident_8x14 {
  font-family: trident_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "trident_9x14";
  src: url("../fonts/Web437_Trident_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-trident_9x14 {
  font-family: trident_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "trident_8x16";
  src: url("../fonts/Web437_Trident_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-trident_8x16 {
  font-family: trident_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "trident_9x16";
  src: url("../fonts/Web437_Trident_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-trident_9x16 {
  font-family: trident_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "trident_8x11";
  src: url("../fonts/Web437_Trident_8x11.woff2") format("woff2");
  font-display: auto;
}
.font-trident_8x11 {
  font-family: trident_8x11;
  font-size: 11px;
  line-height: 11px;
}
@font-face {
  font-family: "tsengeva_132_6x8";
  src: url("../fonts/Web437_TsengEVA_132_6x8.woff2") format("woff2");
  font-display: auto;
}
.font-tsengeva_132_6x8 {
  font-family: tsengeva_132_6x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "tsengeva_132_6x14";
  src: url("../fonts/Web437_TsengEVA_132_6x14.woff2") format("woff2");
  font-display: auto;
}
.font-tsengeva_132_6x14 {
  font-family: tsengeva_132_6x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "wyse700a";
  src: url("../fonts/Web437_Wyse700a.woff2") format("woff2");
  font-display: auto;
}
.font-wyse700a {
  font-family: wyse700a;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "wyse700b";
  src: url("../fonts/Web437_Wyse700b.woff2") format("woff2");
  font-display: auto;
}
.font-wyse700b {
  font-family: wyse700b;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "acm_vga_8x8";
  src: url("../fonts/Web437_ACM_VGA_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-acm_vga_8x8 {
  font-family: acm_vga_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "acm_vga_9x8";
  src: url("../fonts/Web437_ACM_VGA_9x8.woff2") format("woff2");
  font-display: auto;
}
.font-acm_vga_9x8 {
  font-family: acm_vga_9x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "acm_vga_8x14";
  src: url("../fonts/Web437_ACM_VGA_8x14.woff2") format("woff2");
  font-display: auto;
}
.font-acm_vga_8x14 {
  font-family: acm_vga_8x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "acm_vga_9x14";
  src: url("../fonts/Web437_ACM_VGA_9x14.woff2") format("woff2");
  font-display: auto;
}
.font-acm_vga_9x14 {
  font-family: acm_vga_9x14;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "acm_vga_8x16";
  src: url("../fonts/Web437_ACM_VGA_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-acm_vga_8x16 {
  font-family: acm_vga_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "acm_vga_9x16";
  src: url("../fonts/Web437_ACM_VGA_9x16.woff2") format("woff2");
  font-display: auto;
}
.font-acm_vga_9x16 {
  font-family: acm_vga_9x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "master_512_bold";
  src: url("../fonts/Web437_Master_512_bold.woff2") format("woff2");
  font-display: auto;
}
.font-master_512_bold {
  font-family: master_512_bold;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "master_512-2y";
  src: url("../fonts/Web437_Master_512-2y.woff2") format("woff2");
  font-display: auto;
}
.font-master_512-2y {
  font-family: master_512-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "master_512-m7";
  src: url("../fonts/Web437_Master_512-M7.woff2") format("woff2");
  font-display: auto;
}
.font-master_512-m7 {
  font-family: master_512-m7;
  font-size: 20px;
  line-height: 20px;
}
@font-face {
  font-family: "master_512-m7_bold";
  src: url("../fonts/Web437_Master_512-M7_bold.woff2") format("woff2");
  font-display: auto;
}
.font-master_512-m7_bold {
  font-family: master_512-m7_bold;
  font-size: 20px;
  line-height: 20px;
}
@font-face {
  font-family: "apricot_mono";
  src: url("../fonts/Web437_Apricot_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-apricot_mono {
  font-family: apricot_mono;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "apricot_200l-2y";
  src: url("../fonts/Web437_Apricot_200L-2y.woff2") format("woff2");
  font-display: auto;
}
.font-apricot_200l-2y {
  font-family: apricot_200l-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "apricot_256l";
  src: url("../fonts/Web437_Apricot_256L.woff2") format("woff2");
  font-display: auto;
}
.font-apricot_256l {
  font-family: apricot_256l;
  font-size: 10px;
  line-height: 10px;
}
@font-face {
  font-family: "apricotxenc";
  src: url("../fonts/Web437_ApricotXenC.woff2") format("woff2");
  font-display: auto;
}
.font-apricotxenc {
  font-family: apricotxenc;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "apricotportable";
  src: url("../fonts/Web437_ApricotPortable.woff2") format("woff2");
  font-display: auto;
}
.font-apricotportable {
  font-family: apricotportable;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "portfolio_6x8";
  src: url("../fonts/Web437_Portfolio_6x8.woff2") format("woff2");
  font-display: auto;
}
.font-portfolio_6x8 {
  font-family: portfolio_6x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "rainbow100_re_40";
  src: url("../fonts/WebPlus_Rainbow100_re_40.woff2") format("woff2");
  font-display: auto;
}
.font-rainbow100_re_40 {
  font-family: rainbow100_re_40;
  font-size: 10px;
  line-height: 10px;
}
@font-face {
  font-family: "rainbow100_re_80";
  src: url("../fonts/WebPlus_Rainbow100_re_80.woff2") format("woff2");
  font-display: auto;
}
.font-rainbow100_re_80 {
  font-family: rainbow100_re_80;
  font-size: 20px;
  line-height: 20px;
}
@font-face {
  font-family: "rainbow100_re_66";
  src: url("../fonts/WebPlus_Rainbow100_re_66.woff2") format("woff2");
  font-display: auto;
}
.font-rainbow100_re_66 {
  font-family: rainbow100_re_66;
  font-size: 10px;
  line-height: 10px;
}
@font-face {
  font-family: "rainbow100_re_132";
  src: url("../fonts/WebPlus_Rainbow100_re_132.woff2") format("woff2");
  font-display: auto;
}
.font-rainbow100_re_132 {
  font-family: rainbow100_re_132;
  font-size: 20px;
  line-height: 20px;
}
@font-face {
  font-family: "fmtowns_re_8x8";
  src: url("../fonts/Web437_FMTowns_re_8x8.woff2") format("woff2");
  font-display: auto;
}
.font-fmtowns_re_8x8 {
  font-family: fmtowns_re_8x8;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "fmtowns_re_8x16";
  src: url("../fonts/Web437_FMTowns_re_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-fmtowns_re_8x16 {
  font-family: fmtowns_re_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "hp_150_re";
  src: url("../fonts/WebPlus_HP_150_re.woff2") format("woff2");
  font-display: auto;
}
.font-hp_150_re {
  font-family: hp_150_re;
  font-size: 28px;
  line-height: 28px;
}
@font-face {
  font-family: "mindset-2y";
  src: url("../fonts/Web437_Mindset-2y.woff2") format("woff2");
  font-display: auto;
}
.font-mindset-2y {
  font-family: mindset-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "nec_apc3_8x8-2y";
  src: url("../fonts/Web437_NEC_APC3_8x8-2y.woff2") format("woff2");
  font-display: auto;
}
.font-nec_apc3_8x8-2y {
  font-family: nec_apc3_8x8-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "nec_apc3_8x16";
  src: url("../fonts/Web437_NEC_APC3_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-nec_apc3_8x16 {
  font-family: nec_apc3_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "philips_yes_g";
  src: url("../fonts/Web437_Philips_YES_G.woff2") format("woff2");
  font-display: auto;
}
.font-philips_yes_g {
  font-family: philips_yes_g;
  font-size: 10px;
  line-height: 10px;
}
@font-face {
  font-family: "philips_yes_t";
  src: url("../fonts/Web437_Philips_YES_T.woff2") format("woff2");
  font-display: auto;
}
.font-philips_yes_t {
  font-family: philips_yes_t;
  font-size: 10px;
  line-height: 10px;
}
@font-face {
  font-family: "rm_nimbus";
  src: url("../fonts/Web437_RM_Nimbus.woff2") format("woff2");
  font-display: auto;
}
.font-rm_nimbus {
  font-family: rm_nimbus;
  font-size: 10px;
  line-height: 10px;
}
@font-face {
  font-family: "robotron_a7100";
  src: url("../fonts/Web437_Robotron_A7100.woff2") format("woff2");
  font-display: auto;
}
.font-robotron_a7100 {
  font-family: robotron_a7100;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "siemens_pc-d";
  src: url("../fonts/Web437_Siemens_PC-D.woff2") format("woff2");
  font-display: auto;
}
.font-siemens_pc-d {
  font-family: siemens_pc-d;
  font-size: 14px;
  line-height: 14px;
}
@font-face {
  font-family: "tandy2k";
  src: url("../fonts/Web437_Tandy2K.woff2") format("woff2");
  font-display: auto;
}
.font-tandy2k {
  font-family: tandy2k;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "tandy2k_g";
  src: url("../fonts/Web437_Tandy2K_G.woff2") format("woff2");
  font-display: auto;
}
.font-tandy2k_g {
  font-family: tandy2k_g;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "tandy2k_g-tv";
  src: url("../fonts/Web437_Tandy2K_G-TV.woff2") format("woff2");
  font-display: auto;
}
.font-tandy2k_g-tv {
  font-family: tandy2k_g-tv;
  font-size: 8px;
  line-height: 8px;
}
@font-face {
  font-family: "compis";
  src: url("../fonts/Web437_Compis.woff2") format("woff2");
  font-display: auto;
}
.font-compis {
  font-family: compis;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "ti_pro";
  src: url("../fonts/Web437_TI_Pro.woff2") format("woff2");
  font-display: auto;
}
.font-ti_pro {
  font-family: ti_pro;
  font-size: 12px;
  line-height: 12px;
}
@font-face {
  font-family: "toshibat300_8x8-2y";
  src: url("../fonts/Web437_ToshibaT300_8x8-2y.woff2") format("woff2");
  font-display: auto;
}
.font-toshibat300_8x8-2y {
  font-family: toshibat300_8x8-2y;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "toshibat300_8x16";
  src: url("../fonts/Web437_ToshibaT300_8x16.woff2") format("woff2");
  font-display: auto;
}
.font-toshibat300_8x16 {
  font-family: toshibat300_8x16;
  font-size: 16px;
  line-height: 16px;
}
@font-face {
  font-family: "wang_pro_mono";
  src: url("../fonts/Web437_Wang_Pro_Mono.woff2") format("woff2");
  font-display: auto;
}
.font-wang_pro_mono {
  font-family: wang_pro_mono;
  font-size: 24px;
  line-height: 24px;
}
@font-face {
  font-family: "wang_pro_color";
  src: url("../fonts/Web437_Wang_Pro_Color.woff2") format("woff2");
  font-display: auto;
}
.font-wang_pro_color {
  font-family: wang_pro_color;
  font-size: 9px;
  line-height: 9px;
}
@font-face {
  font-family: "zenith_z-100";
  src: url("../fonts/Web437_Zenith_Z-100.woff2") format("woff2");
  font-display: auto;
}
.font-zenith_z-100 {
  font-family: zenith_z-100;
  font-size: 18px;
  line-height: 18px;
}
@font-face {
  font-family: "zenith_z-100_alt";
  src: url("../fonts/Web437_Zenith_Z-100_Alt.woff2") format("woff2");
  font-display: auto;
}
.font-zenith_z-100_alt {
  font-family: zenith_z-100_alt;
  font-size: 18px;
  line-height: 18px;
}
