/*
  Use rem values instead of pixels.
  1rem = 16px, 0.75rm = 12px ...

  Monospaced font size values should be tested against:
  https://retrotxt.com/e/preview_07.pcb
*/
/* Departure Mono */
@font-face {
  font-family: "departuremono";
  src: url("../fonts/DepartureMono-Regular.woff2") format("woff2");
  font-display: auto;
}
.font-departuremono {
  font-family: departuremono;
  font-size: 1rem;
  line-height: 1rem;
}
/* Intel One Mono */
@font-face {
  font-family: "intelonemono";
  src: url("../fonts/IntelOneMono-Regular.woff2") format("woff2");
  font-display: auto;
}
.font-intelonemono {
  font-family: intelonemono;
  font-size: 1rem;
  line-height: 1rem;
}
@font-face {
  font-family: "intelonemonolight";
  src: url("../fonts/IntelOneMono-Light.woff2") format("woff2");
  font-display: auto;
}
.font-intelonemonolight {
  font-family: intelonemonolight;
  font-size: 1rem;
  line-height: 1rem;
}
@font-face {
  font-family: "intelonemonomedium";
  src: url("../fonts/IntelOneMono-Medium.woff2") format("woff2");
  font-display: auto;
}
.font-intelonemonomedium {
  font-family: intelonemonomedium;
  font-size: 1rem;
  line-height: 1rem;
}
/* Cascadia */
@font-face {
  font-family: "cascadiamono";
  src: url("../fonts/CascadiaMono.woff2") format("woff2");
  font-display: auto;
}
.font-cascadiamono {
  font-family: cascadiamono;
  font-size: 0.85rem;
  line-height: 1rem;
}
@font-face {
  font-family: "cascadiacode";
  src: url("../fonts/CascadiaCode.woff2") format("woff2");
  font-display: auto;
}
.font-cascadiacodepl {
  font-family: cascadiacodepl;
  font-size: 0.85rem;
  line-height: 1rem;
}
@font-face {
  font-family: "cascadiacodepl";
  src: url("../fonts/CascadiaCodePL.woff2") format("woff2");
  font-display: auto;
}
.font-cascadiacode {
  font-family: cascadiacode;
  font-size: 0.85rem;
  line-height: 1rem;
}
/* IBM Plex */
@font-face {
  font-family: "ibmplexmono";
  src: url("../fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-display: auto;
}
.font-ibmplexmono {
  font-family: ibmplexmono;
  font-size: 0.825rem;
  line-height: 1rem;
}
@font-face {
  font-family: "ibmplextlight";
  src: url("../fonts/IBMPlexMono-Light.woff2") format("woff2");
  font-display: auto;
}
.font-ibmplextlight {
  font-family: ibmplextlight;
  font-size: 0.825rem;
  line-height: 1rem;
}
@font-face {
  font-family: "ibmplextmedium";
  src: url("../fonts/IBMPlexMono-Medium.woff2") format("woff2");
  font-display: auto;
}
.font-ibmplextmedium {
  font-family: ibmplextmedium;
  font-size: 0.825rem;
  line-height: 1rem;
}
/* Spleen */
@font-face {
  font-family: "spleen6x12";
  src: url("../fonts/spleen-6x12.woff2") format("woff2");
  font-display: auto;
  font-weight: 1;
}
.font-spleen6x12 {
  font-family: spleen6x12;
  font-size: 1rem;
  line-height: 1;
}
@font-face {
  /* 14/6/23 this font family name should be kept for legacy purposes */
  font-family: "spleen";
  src: url("../fonts/spleen-8x16.woff2") format("woff2");
  font-display: auto;
  font-weight: 1;
}
.font-spleen {
  font-family: spleen;
  font-size: 1rem;
  line-height: 1;
}
@font-face {
  font-family: "spleen12x24";
  src: url("../fonts/spleen-12x24.woff2") format("woff2");
  font-display: auto;
  font-weight: 1;
}
.font-spleen12x24 {
  font-family: spleen12x24;
  font-size: 1rem;
  line-height: 1;
}
@font-face {
  font-family: "spleen16x32";
  src: url("../fonts/spleen-16x32.woff2") format("woff2");
  font-display: auto;
  font-weight: 1;
}
.font-spleen16x32 {
  font-family: spleen16x32;
  font-size: 1rem;
  line-height: 1;
}
@font-face {
  font-family: "spleen32x64";
  src: url("../fonts/spleen-32x64.woff2") format("woff2");
  font-display: auto;
  font-weight: 1;
}
.font-spleen32x64 {
  font-family: spleen32x64;
  font-size: 1rem;
  line-height: 1;
}
/* Unscii fonts */
@font-face {
  font-family: "unscii-16";
  src: url("../fonts/unscii-16-full.woff2") format("woff2");
  font-display: auto;
}
.font-unscii-16 {
  font-family: unscii-16;
  font-size: 1rem;
  line-height: 1;
}
@font-face {
  font-family: "unscii-8";
  src: url("../fonts/unscii-8.woff2") format("woff2");
  font-display: auto;
}
.font-unscii-8 {
  font-family: unscii-8;
  font-size: 1rem;
  line-height: 0.5rem;
}
@font-face {
  font-family: unscii-mcr;
  src: url("../fonts/unscii-8-mcr.woff2") format("woff2");
  font-display: auto;
}
.font-unscii-mcr {
  font-family: unscii-mcr;
  font-size: 1rem;
  line-height: 0.5rem;
}
@font-face {
  font-family: unscii-fantasy;
  src: url("../fonts/unscii-8-fantasy.woff2") format("woff2");
  font-display: auto;
}
.font-unscii-fantasy {
  font-family: unscii-fantasy;
  font-size: 1rem;
  line-height: 0.5rem;
}

/* 1x line height fixes */
.text-1x.font-unscii-mcr,
.text-1x.font-unscii-fantasy,
.text-1x.font-unscii-8 {
  line-height: 0.5rem;
}
