/*
  filename: retrotxt_loader.css

  Animated spinner to display during the RetroTxt processing.
  https://www.w3schools.com/howto/howto_css_loader.asp

*/

body > div.loader {
  border-left: 1rem solid rgb(190, 190, 190);
  border-right: 1rem solid rgb(60, 60, 60);
  border-top: 1rem solid rgb(0, 0, 0);
  border-bottom: 1rem solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1.25s linear infinite;
  position: fixed;
  z-index: 999;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
