/*
  filename: text_colors_4bit.css

  ANSI / ECMA-48 presentation control function colour codes in 
  CGA, EGA and VGA BIOS modes. RGB values taken from Wikipedia 
  https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

  Classes SGR39 SGR40 SGR49 are in `css/text_ecma_48.css`
*/

div > i.SGR30 {
  color: var(--black);
}

div > i.SGR31 {
  color: var(--red);
}

div > i.SGR32 {
  color: var(--green);
}

div > i.SGR33 {
  color: var(--brown);
}

div > i.SGR34 {
  color: var(--blue);
}

div > i.SGR35 {
  color: var(--magenta);
}

div > i.SGR36 {
  color: var(--cyan);
}

div > i.SGR37 {
  color: var(--grey);
}

div > i.SGR40 {
  background-color: var(--black);
}
div > i.SGR40.SGR5 {
  animation: var(--blinking-on-black);
}

div > i.SGR41 {
  background-color: var(--red);
}
div > i.SGR41.SGR5 {
  animation: var(--blinking-on-red);
}

div > i.SGR42 {
  background-color: var(--green);
}
div > i.SGR42.SGR5 {
  animation: var(--blinking-on-green);
}

div > i.SGR43 {
  background-color: var(--brown);
}
div > i.SGR43.SGR5 {
  animation: var(--blinking-on-brown);
}

div > i.SGR44 {
  background-color: var(--blue);
}
div > i.SGR44.SGR5 {
  animation: var(--blinking-on-blue);
}

div > i.SGR45 {
  background-color: var(--magenta);
}
div > i.SGR45.SGR5 {
  animation: var(--blinking-on-magenta);
}

div > i.SGR46 {
  background-color: var(--cyan);
}
div > i.SGR46.SGR5 {
  animation: var(--blinking-on-cyan);
}

div > i.SGR47 {
  background-color: var(--grey);
}
div > i.SGR47.SGR5 {
  animation: var(--blinking-on-grey);
}

div > i.SGR130 {
  color: var(--darkgrey);
}

div > i.SGR131 {
  color: var(--lightred);
}

div > i.SGR132 {
  color: var(--lightgreen);
}

div > i.SGR133 {
  color: var(--yellow);
}

div > i.SGR134 {
  color: var(--lightblue);
}

div > i.SGR135 {
  color: var(--lightmagenta);
}

div > i.SGR136 {
  color: var(--lightcyan);
}

div > i.SGR137 {
  color: var(--white);
}
