/*
  filename: text_colors_blink.css

  Shared classes used for 4-bit blinking text.
  Imported by 
  `css/text_colors_gray.css`
  `css/text_colors_pcboard.css`
  `css/text_colors_vga.css`
  `css/text_colors_xterm.css`
*/

:root {
  /* to disable blinking, set --timer: 0ms; */
  --timer: 500ms;
  --infinate: step-end infinite;
  --blinking-on-black: var(--timer) blinkingblack var(--infinate);
  --blinking-on-blue: var(--timer) blinkblue var(--infinate);
  --blinking-on-green: var(--timer) blinkinggreen var(--infinate);
  --blinking-on-cyan: var(--timer) blinkingcyan var(--infinate);
  --blinking-on-red: var(--timer) blinkingred var(--infinate);
  --blinking-on-magenta: var(--timer) blinkmagenta var(--infinate);
  --blinking-on-brown: var(--timer) blinkbrown var(--infinate);
  --blinking-on-grey: var(--timer) blinkgrey var(--infinate);
}

@keyframes blinkingblack {
  50% {
    color: var(--black);
  }
}
@keyframes blinkblue {
  50% {
    color: var(--blue);
  }
}
@keyframes blinkinggreen {
  50% {
    color: var(--green);
  }
}
@keyframes blinkingcyan {
  50% {
    color: var(--cyan);
  }
}
@keyframes blinkingred {
  50% {
    color: var(--red);
  }
}
@keyframes blinkmagenta {
  50% {
    color: var(--magenta);
  }
}
@keyframes blinkbrown {
  50% {
    color: var(--brown);
  }
}
@keyframes blinkgrey {
  50% {
    color: var(--grey);
  }
}
