/*
 filename: text_colors_4bit-ice.css

 "iCE Colors" high-intensity backgrounds in IBM PC BIOS mode.
*/
div > i.SGR5 {
  animation: none;
}

div > i.SGR40.SGR5 {
  background-color: var(--darkgrey);
  animation: none;
}

div > i.SGR41.SGR5 {
  background-color: var(--lightred);
  animation: none;
}

div > i.SGR42.SGR5 {
  background-color: var(--lightgreen);
  animation: none;
}

div > i.SGR43.SGR5 {
  background-color: var(--yellow);
  animation: none;
}

div > i.SGR44.SGR5 {
  background-color: var(--lightblue);
  animation: none;
}

div > i.SGR45.SGR5 {
  background-color: var(--lightmagenta);
  animation: none;
}

div > i.SGR46.SGR5 {
  background-color: var(--lightcyan);
  animation: none;
}

div > i.SGR47.SGR5 {
  background-color: var(--white);
  animation: none;
}
