/*
  filename: text_colors_bbs.css

  Shared classes used for BBS presentation.
  Imported by
  `css/text_colors_pipe.css`
  `css/text_colors_pcboard.css`
*/

:root {
  --black: rgb(0, 0, 0);
  --blue: rgb(0, 0, 128);
  --green: rgb(0, 128, 0);
  --cyan: rgb(0, 170, 170);
  --red: rgb(128, 0, 0);
  --magenta: rgb(170, 0, 170);
  --brown: rgb(170, 85, 0);
  --grey: rgb(170, 170, 170);
  --darkgrey: rgb(85, 85, 85);
  --lightblue: rgb(0, 0, 255);
  --lightgreen: rgb(0, 255, 0);
  --lightcyan: rgb(0, 255, 255);
  --lightred: rgb(255, 0, 0);
  --lightmagenta: rgb(255, 0, 255);
  --yellow: rgb(255, 255, 85);
  --white: rgb(255, 255, 255);
}

i {
  font-style: normal;
}

/* BBS rendering is indented for IBM 8px fonts */

pre {
  white-space: pre-wrap;
  word-break: break-all;
  width: 40rem;
}

.text-2x {
  width: auto;
  max-width: calc(40rem * 2);
}

.text-3x {
  width: auto;
  max-width: calc(40rem * 3);
}

/* but these fonts also render */

.font-tandynew225-2y {
  width: 27rem;
}

.font-tandynew225-2y.text-2x {
  width: 54rem;
}

.font-ega9,
.font-iso9,
.font-vga9 {
  width: 45rem;
}

.font-ega9.text-2x,
.font-iso9.text-2x,
.font-vga9.text-2x {
  width: 90rem;
}

.font-tandynew225 {
  width: 54rem;
}

.font-tandynew225.text-2x {
  width: 108rem;
}

.font-mda {
  width: 55rem;
}

.font-mda.text-2x {
  width: 110rem;
}

.font-appleii {
  width: 70rem;
}

.font-appleii.text-2x {
  width: 140rem;
}

.font-bios,
.font-cga,
.font-cgathin,
.font-ega8-2x,
.font-tandynewtv,
.font-pc1512,
.font-vga8-2x {
  width: 80rem;
}

.font-bios.text-2x,
.font-cga.text-2x,
.font-cgathin.text-2x,
.font-ega8-2x.text-2x,
.font-tandynewtv.text-2x,
.font-pc1512.text-2x,
.font-vga8-2x.text-2x {
  width: 160rem;
}

.font-ega9-2x,
.font-vga9-2x {
  width: 90rem;
}

.font-ega9-2x.text-2x,
.font-vga9-2x.text-2x {
  width: 180rem;
}

.font-bios-2x {
  width: 160rem;
}

.font-bios-2x.text-2x {
  width: 320rem;
}

/*
  these fonts fail to render properly
  but these adjustments slightly improve their display
*/

.font-atascii {
  width: 60em;
}

.font-atarist {
  width: 55em;
}

.font-c64 {
  width: 77rem;
}

.font-microknight,
.font-microknightplus,
.font-p0tnoodle,
.font-topaza500,
.font-topazplusa500,
.font-topaza1200,
.font-topazplusa1200 {
  width: 58rem;
}
