/*
  filename: text_colors_wviv-pipe.css

  Pipe codes used by WVIV BBS and other BBS software
  4-bit colour codes
*/

@import url("text_colors_bbs.css");

/* BBS pipe colours */

i.P00,
i.P01,
i.P02,
i.P03,
i.P05,
i.P06,
i.P07,
i.P08,
i.P09 {
  background-color: var(--black);
}

i.P00 {
  color: var(--grey);
}

i.P01 {
  color: var(--lightcyan);
}

i.P02 {
  color: var(--yellow);
}

i.P03 {
  color: var(--lightmagenta);
}

i.P04 {
  background-color: var(--blue);
  color: var(--white);
}

i.P05 {
  color: var(--lightgreen);
}

i.P06 {
  color: var(--lightred);
}

i.P07 {
  color: var(--lightblue);
}

i.P08 {
  color: var(--magenta);
}

i.P09 {
  color: var(--cyan);
}
