# Packages #
############

# build packages
web-ext-artifacts
*.xpi
ext.crx
ext.pem

# legacy dependencies
node_modules

# other
.env
.DS_Store

# mkdocs build
site

# autogen generated content (generated security/benchmark/test reports)
# these are usually json dumps
ext/autogen/

# generated backups
ext/scripts/*.backup

# micro log
log.txt
