# Packages #
############

# build packages
web-ext-artifacts
*.xpi

# yarn, NOT using Zero-Installs
# see: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# legacy dependencies
node_modules

# other
.env
.DS_Store

# micro log
log.txt