# Auto-detect text files and perform LF normalization.
*       text=auto
*.css   text eol=lf
*.js    text eol=lf
*.json  text eol=lf

# Custom for Visual Studio.
*.cs     diff=csharp

# Yarn tip
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/releases/** binary
/.yarn/plugins/** binary