/*
  filename: text_colors_pipe.css

  Pipe codes used by Renegade BBS and other BBS software
  4-bit colour codes
*/

@import url("text_colors_bbs.css");

/* BBS pipe colours */

i.P00 {
  color: var(--black);
}

i.P01 {
  color: var(--blue);
}

i.P02 {
  color: var(--green);
}

i.P03 {
  color: var(--cyan);
}

i.P04 {
  color: var(--red);
}

i.P05 {
  color: var(--magenta);
}

i.P06 {
  color: var(--brown);
}

i.P07 {
  color: var(--grey);
}

i.P08 {
  color: var(--darkgrey);
}

i.P09 {
  color: var(--lightblue);
}

i.P10 {
  color: var(--lightgreen);
}

i.P11 {
  color: var(--lightcyan);
}

i.P12 {
  color: var(--lightred);
}

i.P13 {
  color: var(--lightmagenta);
}

i.P14 {
  color: var(--yellow);
}

i.P15 {
  color: var(--white);
}

i.P16 {
  background-color: var(--black);
}

i.P17 {
  background-color: var(--blue);
}

i.P18 {
  background-color: var(--green);
}

i.P19 {
  background-color: var(--cyan);
}

i.P20 {
  background-color: var(--red);
}

i.P21 {
  background-color: var(--magenta);
}

i.P22 {
  background-color: var(--brown);
}

i.P23 {
  background-color: var(--grey);
}
